frontend/pug/contacts.pug
extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug



  .container
    .contacts
      .contacts__row
        .contacts__content
          h1.contacts__header Контакты
          p.contacts__phone
            |С нами вы всегда можно связаться по телефону 
            a.contacts__phone-link(href="tel:+78225124242") +7 (822) 512-4242

          .social
            ul.social__list
              li.social__item
                a.social__link(href="#")
                  span.social__name.visually-hidden Вконтакте
                  svg.social__icon(width="20" height="12")
                    use(xlink:href="#icon-vk")
              li.social__item
                a.social__link(href="#")
                  span.social__name.visually-hidden Facebook
                  svg.social__icon(width="8" height="16")
                    use(xlink:href="#icon-fb")



        .contacts__map-wrapper.map-google(data-key="AIzaSyCkNJS8yQqLUsRLrMQ3hDv0T1jGJ9CjTFc" data-center="56.8618601,53.2324284" data-zoom="14")
          img.contacts__map-img(src="img/map.jpg", alt="Адрес")

public/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="preload" href="css/styles.css" as="style" crossorigin>
    <link rel="preload" href="fonts/fira-sans-400.woff2" as="font" crossorigin>
    <link rel="preload" href="fonts/fira-sans-500.woff2" as="font" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>7 пядей</title>
    <script>// (function(){
//   function addFont() {
//     let style = document.createElement('style');
//     style.rel = 'stylesheet';
//     document.head.appendChild(style);
//     style.textContent = localStorage.fonts;
//   }

//   try {
//     if (localStorage.fonts && false) {
//       // The font is in localStorage, we can load it directly
//       addFont();
//     } else {
//       // We have to first load the font file asynchronously
//       let request = new XMLHttpRequest();
//       request.open('GET', 'fonts/fonts.css', true);

//       request.onload = function() {
//         if (request.status >= 200 && request.status < 400) {
//           // We save the file in localStorage
//           localStorage.fonts = request.responseText;

//           // ... and load the font
//           addFont();
//         }
//       }

//       request.send();
//     }
//   } catch(ex) {
//   // maybe load the font synchronously for woff-capable browsers
//   // to avoid blinking on every request when localStorage is not available
//   }
// }());


// загрузка svg спрайта и сохранение в local.storage
(function(window, document) {

  'use strict';

  var file = 'svg/sprite.svg', // путь к файлу спрайта на сервере
      revision = 1;            // версия спрайта
  if (!document.createElementNS || !document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) return true;
  var isLocalStorage = 'localStorage' in window && window['localStorage'] !== null,
    request,
    data,
    insertIT = function() {
      document.body.insertAdjacentHTML('afterbegin', data);
    },
    insert = function() {
      if (document.body) insertIT();
      else document.addEventListener('DOMContentLoaded', insertIT);
    };
  if (isLocalStorage && localStorage.getItem('inlineSVGrev') == revision-1) {
    data = localStorage.getItem('inlineSVGdata');
    if (data) {
      insert();
      return true;
    }
  }
  try {
    request = new XMLHttpRequest();
    request.open('GET', file, true);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        data = request.responseText;
        insert();
        if (isLocalStorage) {
          localStorage.setItem('inlineSVGdata', data);
          localStorage.setItem('inlineSVGrev', revision);
        }
      }
    }
    request.send();
  } catch (e) {}
}(window, document));

    </script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="http://alenn.picom.su/bitrix/cache/css/s1/alenn/kernel_main/kernel_main.css?153562098626563">
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <header class="page-header">
          <div class="container page-header__container">
            <div class="page-header__row">
              <div class="logo"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей" width="160" height="50"></a></div>
            </div>
            <div class="control-panel">
              <div class="page-header__contacts">
                <form class="page-header__search">
                  <input class="search-input" type="text" placeholder="Введите запрос">
                  <button class="search-button"></button>
                </form>
                <p class="page-header__phone"><a class="page-header__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p>
                <div class="social-block"><a class="social-link social-link--vk" href="#">
                    <svg class="social__icon" width="20" height="12">
                      <use xlink:href="#icon-vk"></use>
                    </svg></a><a class="social-link social-link--facebook" href="#">
                    <svg class="social__icon" width="8" height="16">
                      <use xlink:href="#icon-fb"></use>
                    </svg></a></div>
                <div class="hamburger"><span class="visually-hidden">Закрыть меню</span><span class="hamburger__decoration"></span></div>
              </div>
              <div class="page-header__menu no-js">
                <nav class="main-navigation">
                  <ul class="main-navigation__list">
                    <li class="main-navigation__item"><a class="main-navigation__link" href="directions.html">Наши направления</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="teachers.html">Преподователи</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="events.html">Мероприятия</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="news.html">Новости</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="about.html">О нас</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="contacts.html">Контакты</a></li>
                  </ul>
                  <div class="user-block">
                    <p class="mobile-phone"><a class="page-header__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p><a class="user-block__link button button--border button--open-lk" href="#">Войти<span class="button__decoration"></span></a>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </header>
        <div class="breadcrumbs">
          <div class="container">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a>
                <svg class="breadcrumbs__icon" width="9" height="7">
                  <use xlink:href="#icon-arrow--short"></use>
                </svg>
              </li>
              <li class="breadcrumbs__item"><a class="breadcrumbs__link">Кружки</a></li>
            </ul>
          </div>
        </div>
        <div class="container">
          <div class="contacts">
            <div class="contacts__row">
              <div class="contacts__content">
                <h1 class="contacts__header">Контакты</h1>
                <p class="contacts__phone">С нами вы всегда можно связаться по телефону <a class="contacts__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p>
                <div class="social">
                  <ul class="social__list">
                    <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Вконтакте</span>
                        <svg class="social__icon" width="20" height="12">
                          <use xlink:href="#icon-vk"></use>
                        </svg></a></li>
                    <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Facebook</span>
                        <svg class="social__icon" width="8" height="16">
                          <use xlink:href="#icon-fb"></use>
                        </svg></a></li>
                  </ul>
                </div>
              </div>
              <div class="contacts__map-wrapper map-google" data-key="AIzaSyCkNJS8yQqLUsRLrMQ3hDv0T1jGJ9CjTFc" data-center="56.8618601,53.2324284" data-zoom="14"><img class="contacts__map-img" src="img/map.jpg" alt="Адрес"></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="page-footer">
        <div class="container">
          <section class="footer-subscribe">
            <h2 class="footer-subscribe__header">Записаться на курсы</h2>
            <form class="footer-subscribe__form">
              <input class="footer-subscribe__input" type="email" placeholder="Введите ваш e-mail">
              <button class="footer-subscribe__submit button button--big160">Записаться<span class="button__decoration"></span></button>
            </form>
          </section>
          <div class="main-navigation main-navigation--footer">
            <ul class="main-navigation__list">
              <li class="main-navigation__item"><a class="main-navigation__link" href="directions.html">Наши направления</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="teachers.html">Преподователи</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="events.html">Мероприятия</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="news.html">Новости</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="about.html">О нас</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="contacts.html">Контакты</a></li>
            </ul>
          </div>
          <div class="page-footer__row">
            <div class="logo logo--footer"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей"></a></div>
            <div class="social social--footer">
              <ul class="social__list">
                <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Вконтакте</span>
                    <svg class="social__icon" width="20" height="12">
                      <use xlink:href="#icon-vk"></use>
                    </svg></a></li>
                <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Facebook</span>
                    <svg class="social__icon" width="8" height="16">
                      <use xlink:href="#icon-fb"></use>
                    </svg></a></li>
              </ul>
            </div>
            <div class="copyright">
              <p class="copyright__text">© 7 пядей.</p>
              <p class="copyright__text">Олимпиадная математика в Ижевске</p>
            </div>
            <div class="creator">Сделано в <a class="creator__link" href="http://picom.ru" target="_blank">Picom</a></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="http://alenn.picom.su/bitrix/cache/js/s1/alenn/kernel_main/kernel_main.js?1535621055298829"></script>
    <script src="js/main.js"></script>
  </body>
</html>
