frontend/pug/events.pug
extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug



  .page-about
    .container
      .page-about__content(style="background-image:url(./img/bg_direction.svg)")
        h1.page-about__header Мероприятия



  .filter
    form.filter__form(action="json/events.json")
      .filter__container.container
        .filter__form-row
          label.filter__label(for="filter1") Класс:
          select#filter1.filter__select(name="class")
            option.filter__option(value="0") Все
            option.filter__option(value="7") 7
            option.filter__option(value="8") 8
        .filter__form-row
          label.filter__label(for="filter2") Предмет:
          select#filter2.filter__select(name="subject")
            option.filter__option(value="0") Все
              option.filter__option(value="7") Математика
              option.filter__option(value="8") Обществознание
              option.filter__option(value="0") Все
                option.filter__option(value="7") Математика
                option.filter__option(value="8") Обществознание
                option.filter__option(value="0") Все
                  option.filter__option(value="7") Математика
                  option.filter__option(value="8") Обществознание
                  option.filter__option(value="0") Все
                    option.filter__option(value="7") Математика
                    option.filter__option(value="8") Обществознание
                    option.filter__option(value="0") Все
                      option.filter__option(value="7") Математика
                      option.filter__option(value="8") Обществознание
                      option.filter__option(value="0") Все
                        option.filter__option(value="7") Математика
                        option.filter__option(value="8") Обществознание
                        option.filter__option(value="0") Все
                          option.filter__option(value="7") Математика
                          option.filter__option(value="8") Обществознание
        .filter__form-row
          label.filter__label(for="filter3") Уровень:
          select#filter3.filter__select(name="level")
            option.filter__option(value="0") Все
            option.filter__option(value="1") Легкий
            option.filter__option(value="2") Средний
            option.filter__option(value="3") Тяжелый
        .filter__form-row
          label.filter__label(for="filter3") Дата:
          input(type=text placeholder="25.07.2018").js-smartfilter_input.filter__input-calendar




    .container
      .result(data-type="events")
        p.result__header 234 результата
        ul.result__list.result__list--events
          li.result__item
            .event-card
              a.event-card__link(href="event.html")
                .event-card__img-wrapper
                  img.event-card__img(src="/img/announcement-1.png", alt="Название мероприятия")
                .event-card__info
                  time.event-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.event-card__name Название мероприятия
                  p.event-card__description Описание мероприятия
          li.result__item
            .event-card
              a.event-card__link(href="event.html")
                .event-card__img-wrapper
                  img.event-card__img(src="/img/announcement-1.png", alt="Название мероприятия")
                .event-card__info
                  time.event-card__date(datetime="2018-04-12") 13 апреля 2018
                  p.event-card__name Пиу-пиу
                  p.event-card__description ололо

        .result__more-wrapper.button__wrapper
          a.result__more.button.button--white(href="#")
            |Показать больше
            span.button__decoration



  .container
    .flex-desktop
      include ./common/text-block.pug
      .sidebar
        img(src='./img/subscription_delete.png')

public/events.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="preload" href="css/styles.css" as="style" crossorigin>
    <link rel="preload" href="fonts/fira-sans-400.woff2" as="font" crossorigin>
    <link rel="preload" href="fonts/fira-sans-500.woff2" as="font" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>7 пядей</title>
    <script>// (function(){
//   function addFont() {
//     let style = document.createElement('style');
//     style.rel = 'stylesheet';
//     document.head.appendChild(style);
//     style.textContent = localStorage.fonts;
//   }

//   try {
//     if (localStorage.fonts && false) {
//       // The font is in localStorage, we can load it directly
//       addFont();
//     } else {
//       // We have to first load the font file asynchronously
//       let request = new XMLHttpRequest();
//       request.open('GET', 'fonts/fonts.css', true);

//       request.onload = function() {
//         if (request.status >= 200 && request.status < 400) {
//           // We save the file in localStorage
//           localStorage.fonts = request.responseText;

//           // ... and load the font
//           addFont();
//         }
//       }

//       request.send();
//     }
//   } catch(ex) {
//   // maybe load the font synchronously for woff-capable browsers
//   // to avoid blinking on every request when localStorage is not available
//   }
// }());


// загрузка svg спрайта и сохранение в local.storage
(function(window, document) {

  'use strict';

  var file = 'svg/sprite.svg', // путь к файлу спрайта на сервере
      revision = 1;            // версия спрайта
  if (!document.createElementNS || !document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) return true;
  var isLocalStorage = 'localStorage' in window && window['localStorage'] !== null,
    request,
    data,
    insertIT = function() {
      document.body.insertAdjacentHTML('afterbegin', data);
    },
    insert = function() {
      if (document.body) insertIT();
      else document.addEventListener('DOMContentLoaded', insertIT);
    };
  if (isLocalStorage && localStorage.getItem('inlineSVGrev') == revision-1) {
    data = localStorage.getItem('inlineSVGdata');
    if (data) {
      insert();
      return true;
    }
  }
  try {
    request = new XMLHttpRequest();
    request.open('GET', file, true);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        data = request.responseText;
        insert();
        if (isLocalStorage) {
          localStorage.setItem('inlineSVGdata', data);
          localStorage.setItem('inlineSVGrev', revision);
        }
      }
    }
    request.send();
  } catch (e) {}
}(window, document));

    </script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="http://alenn.picom.su/bitrix/cache/css/s1/alenn/kernel_main/kernel_main.css?153562098626563">
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <header class="page-header">
          <div class="container page-header__container">
            <div class="page-header__row">
              <div class="logo"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей" width="160" height="50"></a></div>
            </div>
            <div class="control-panel">
              <div class="page-header__contacts">
                <form class="page-header__search">
                  <input class="search-input" type="text" placeholder="Введите запрос">
                  <button class="search-button"></button>
                </form>
                <p class="page-header__phone"><a class="page-header__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p>
                <div class="social-block"><a class="social-link social-link--vk" href="#">
                    <svg class="social__icon" width="20" height="12">
                      <use xlink:href="#icon-vk"></use>
                    </svg></a><a class="social-link social-link--facebook" href="#">
                    <svg class="social__icon" width="8" height="16">
                      <use xlink:href="#icon-fb"></use>
                    </svg></a></div>
                <div class="hamburger"><span class="visually-hidden">Закрыть меню</span><span class="hamburger__decoration"></span></div>
              </div>
              <div class="page-header__menu no-js">
                <nav class="main-navigation">
                  <ul class="main-navigation__list">
                    <li class="main-navigation__item"><a class="main-navigation__link" href="directions.html">Наши направления</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="teachers.html">Преподователи</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="events.html">Мероприятия</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="news.html">Новости</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="about.html">О нас</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="contacts.html">Контакты</a></li>
                  </ul>
                  <div class="user-block">
                    <p class="mobile-phone"><a class="page-header__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p><a class="user-block__link button button--border button--open-lk" href="#">Войти<span class="button__decoration"></span></a>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </header>
        <div class="breadcrumbs">
          <div class="container">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a>
                <svg class="breadcrumbs__icon" width="9" height="7">
                  <use xlink:href="#icon-arrow--short"></use>
                </svg>
              </li>
              <li class="breadcrumbs__item"><a class="breadcrumbs__link">Кружки</a></li>
            </ul>
          </div>
        </div>
        <div class="page-about">
          <div class="container">
            <div class="page-about__content" style="background-image:url(./img/bg_direction.svg)">
              <h1 class="page-about__header">Мероприятия</h1>
            </div>
          </div>
        </div>
        <div class="filter">
          <form class="filter__form" action="json/events.json">
            <div class="filter__container container">
              <div class="filter__form-row">
                <label class="filter__label" for="filter1">Класс:</label>
                <select class="filter__select" id="filter1" name="class">
                  <option class="filter__option" value="0">Все</option>
                  <option class="filter__option" value="7">7</option>
                  <option class="filter__option" value="8">8</option>
                </select>
              </div>
              <div class="filter__form-row">
                <label class="filter__label" for="filter2">Предмет:</label>
                <select class="filter__select" id="filter2" name="subject">
                  <option class="filter__option" value="0">Все
                    <option class="filter__option" value="7">Математика</option>
                    <option class="filter__option" value="8">Обществознание</option>
                    <option class="filter__option" value="0">Все
                      <option class="filter__option" value="7">Математика</option>
                      <option class="filter__option" value="8">Обществознание</option>
                      <option class="filter__option" value="0">Все
                        <option class="filter__option" value="7">Математика</option>
                        <option class="filter__option" value="8">Обществознание</option>
                        <option class="filter__option" value="0">Все
                          <option class="filter__option" value="7">Математика</option>
                          <option class="filter__option" value="8">Обществознание</option>
                          <option class="filter__option" value="0">Все
                            <option class="filter__option" value="7">Математика</option>
                            <option class="filter__option" value="8">Обществознание</option>
                            <option class="filter__option" value="0">Все
                              <option class="filter__option" value="7">Математика</option>
                              <option class="filter__option" value="8">Обществознание</option>
                              <option class="filter__option" value="0">Все
                                <option class="filter__option" value="7">Математика</option>
                                <option class="filter__option" value="8">Обществознание</option>
                              </option>
                            </option>
                          </option>
                        </option>
                      </option>
                    </option>
                  </option>
                </select>
              </div>
              <div class="filter__form-row">
                <label class="filter__label" for="filter3">Уровень:</label>
                <select class="filter__select" id="filter3" name="level">
                  <option class="filter__option" value="0">Все</option>
                  <option class="filter__option" value="1">Легкий</option>
                  <option class="filter__option" value="2">Средний</option>
                  <option class="filter__option" value="3">Тяжелый</option>
                </select>
              </div>
              <div class="filter__form-row">
                <label class="filter__label" for="filter3">Дата:</label>
                <input class="js-smartfilter_input filter__input-calendar" placeholder="25.07.2018">
              </div>
            </div>
          </form>
          <div class="container">
            <div class="result" data-type="events">
              <p class="result__header">234 результата</p>
              <ul class="result__list result__list--events">
                <li class="result__item">
                  <div class="event-card"><a class="event-card__link" href="event.html">
                      <div class="event-card__img-wrapper"><img class="event-card__img" src="/img/announcement-1.png" alt="Название мероприятия"></div>
                      <div class="event-card__info">
                        <time class="event-card__date" datetime="2018-04-12">12 апреля 2018</time>
                        <p class="event-card__name">Название мероприятия</p>
                        <p class="event-card__description">Описание мероприятия</p>
                      </div></a></div>
                </li>
                <li class="result__item">
                  <div class="event-card"><a class="event-card__link" href="event.html">
                      <div class="event-card__img-wrapper"><img class="event-card__img" src="/img/announcement-1.png" alt="Название мероприятия"></div>
                      <div class="event-card__info">
                        <time class="event-card__date" datetime="2018-04-12">13 апреля 2018</time>
                        <p class="event-card__name">Пиу-пиу</p>
                        <p class="event-card__description">ололо</p>
                      </div></a></div>
                </li>
              </ul>
              <div class="result__more-wrapper button__wrapper"><a class="result__more button button--white" href="#">Показать больше<span class="button__decoration"></span></a></div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="flex-desktop">
            <div class="text-block">
              <p class="text-block__header">Как проходит обучение?</p>
              <p class="text-block__text">Традиционно школьные занятия построены на том, что учитель рассказывает определённую тему, а дальше идут простые задания на закрепление, потом — чуть посложнее и в итоге контрольная работа.</p>
              <p class="text-block__subheader">Мы делаем иначе</p>
              <p class="text-block__text">Наши занятия построены на том, что дети через задачи попытаются сделать самостоятельное открытие. Изначально выдаются задачи или проблемы, над которыми надо думать. По математике, например,  задачи могут затрагивать несколько несвязанных тем и идей, чтобы ребенок не зацикливался на стандартных способах и алгоритмах. Не подразумевается, что ребенок сможет решать все заданий, хотя к этому стоит стремиться.</p>
              <p class="text-block__text">Основное в занятиях – это общение с преподавателем. Поэтому группы мы стараемся сделать поменьше, 10-15 человек. Но одни занятия – это скучно. Мы создаем систему образования.</p>
              <p class="text-block__subheader">Этапы</p>
              <p class="text-block__text">Первый этап — заинтересовать. Это «входные» олимпиады, игры, турниры. Для младших школьников мы пытаемся провести много разнообразных мероприятий, не только по математике. Игры, лекции, фильмы.</p>
              <p class="text-block__text">Второй этап — научить. Это, собственно, занятия.</p>
              <p class="text-block__text">Третий этап — получить результат. Это итоговые турниры, как внутренние, так и межрегиональные. Формирование команд для выездных турниров. Организация турниров для младших групп.</p>
              <p class="text-block__text">Соревнования, командные и личные, которые проходят раз в несколько месяцев - это турниры, математические бои. Соревнования - приятный бонус, промежуточный итог обучения, игра. Серьезные выездные олимпиады начинаются с 10 класса, на них едут самые сильные ученики-«профи». Для них планируются сборы.</p>
            </div>
            <div class="sidebar"><img src="./img/subscription_delete.png"></div>
          </div>
        </div>
      </div>
      <footer class="page-footer">
        <div class="container">
          <section class="footer-subscribe">
            <h2 class="footer-subscribe__header">Записаться на курсы</h2>
            <form class="footer-subscribe__form">
              <input class="footer-subscribe__input" type="email" placeholder="Введите ваш e-mail">
              <button class="footer-subscribe__submit button button--big160">Записаться<span class="button__decoration"></span></button>
            </form>
          </section>
          <div class="main-navigation main-navigation--footer">
            <ul class="main-navigation__list">
              <li class="main-navigation__item"><a class="main-navigation__link" href="directions.html">Наши направления</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="teachers.html">Преподователи</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="events.html">Мероприятия</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="news.html">Новости</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="about.html">О нас</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="contacts.html">Контакты</a></li>
            </ul>
          </div>
          <div class="page-footer__row">
            <div class="logo logo--footer"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей"></a></div>
            <div class="social social--footer">
              <ul class="social__list">
                <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Вконтакте</span>
                    <svg class="social__icon" width="20" height="12">
                      <use xlink:href="#icon-vk"></use>
                    </svg></a></li>
                <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Facebook</span>
                    <svg class="social__icon" width="8" height="16">
                      <use xlink:href="#icon-fb"></use>
                    </svg></a></li>
              </ul>
            </div>
            <div class="copyright">
              <p class="copyright__text">© 7 пядей.</p>
              <p class="copyright__text">Олимпиадная математика в Ижевске</p>
            </div>
            <div class="creator">Сделано в <a class="creator__link" href="http://picom.ru" target="_blank">Picom</a></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="http://alenn.picom.su/bitrix/cache/js/s1/alenn/kernel_main/kernel_main.js?1535621055298829"></script>
    <script src="js/main.js"></script>
  </body>
</html>
