frontend/pug/event.pug
extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug



  .page-about
    .container
      .page-about__content(style="background-image:url(./img/bg_direction.svg)")
        .page-about__dates
          time.page-about__date 14-15 марта 2018
          time.page-about__duration с 10:00 до 19:00
        h1.page-about__header Брейн-брикс «Март»
        .page-about__link-wrapper.button__wrapper
          a.button(href="registration.html" target="_blank")
            |Записаться
            span.button__decoration



  .tab-block
    .container
      .tab-block__row
        ul.tab-block__list
          li.tab-block__item
            span.tab-block__name.tab-block__name--active Описание
          li.tab-block__item
            span.tab-block__name Расписание
          li.tab-block__item
            span.tab-block__name Материалы

      .sections.event-sections
        ul.sections__list
          li.sections__item.sections__item--active
            h2.sections__header О турнире

            p.sections__text 1. Каждый участник проходит три тура – письменный, компьютерный и механический тур. Каждый тур занимает 40-45 минут, между турами проходят перерывы. Начало и окончание туров фиксируются звонками.
            p.sections__text 2. Письменный тур состоит из четырех головоломок (типа судоку), решения которых надо сдать письменно. Все головоломки выдаются одновременно. Последовательность решения заданий не имеет значения. Правильность решения проверяет счетная комиссия.
            p.sections__text 3. Компьютерный тур состоит из четырех флеш-игр. Участник садится за компьютер, на котором открыты 4 вкладки, соответствующие головоломкам. Правильность решения проверяется автоматически. По окончании тура счетная комиссия фиксирует, сколько головоломок решено каждым участником.
            p.sections__text 4. Механический тур состоит из трех головоломок, которые надо собирать руками (механически). Головоломки выдаются участнику сразу все, собранная головоломка предъявляется счетной комиссии и отмечается в протоколе.
            p.sections__text 5. Каждому участнику выдается индивидуальный путевой лист, который заполняет счетная комиссия в каждом туре. Кроме того, результаты всех участников вносятся в протокол. После каждого этапа протоколы сдаются Главному Судье, который сводит их в общий протокол для подведения этапов.
            p.sections__text 6. Сводный протокол вывешивается для сверки. В перерывах участники могут сверить свои результаты с путевым листами и внести коррективы, подойдя к Главному Судье.
            p.sections__text 7. На каждом этапе имеет дополнительная головоломка повышенной сложности, которая выдается тем, кто справился с заданием полностью.







          li.sections__item
            h2.sections__header Март - Май 2018
            p.sections__link-wrapper
              span.sections__link-name Март - Май 2018.pdf 
              a.sections__link(href="#" target="_blank") Скачать
            p.sections__text Полное расписание направления «Математика. Продвинутый уровень» для 4 класса на март.
            p.sections__text До 1 февраля у нас будут проходить сборы, но мы очень постораемся, чтобы они не пересекались с этими занятиями и не мешали им.
            
          li.sections__item
            .files
              h2.visually-hidden Полезные файлы
              ul.files__list
                li.files__item
                  a.files__link.files__link--doc(href="#" target="_blank")
                    p.files__name Окгругли и сложи.pdf
                    .files__info
                      time.files__date(datetime="2018-04-12") 14.01.2018;
                      p.files__size 54 Мб.
                li.files__item
                  a.files__link.files__link--pdf(href="#" target="_blank")
                    p.files__name Окгругли и сложи.pdf
                    .files__info
                      time.files__date(datetime="2018-04-12") 14.01.2018;
                      p.files__size 54 Мб.
                li.files__item
                  a.files__link.files__link--doc(href="#" target="_blank")
                    p.files__name Окгругли и сложи.pdf
                    .files__info
                      time.files__date(datetime="2018-04-12") 14.01.2018;
                      p.files__size 54 Мб.



        //- .sidebar
        //-   .place
        //-     h3.place__header Место проведения
        //-     .place__map-wrapper.map-google(data-key="AIzaSyANJXoL9MM60HmArAcJY-9LOPhKkE2oUZc" data-center="56.8618601,53.2324284" data-zoom="14")
        //-       img.place__img(src="img/map.jpg", alt="Место проведения")
        //-     p.place__address г. Ижевск, ул. Береговая, 11.
        //-     p.place__name Экономико-математический лицей №29
        //-     p.place__phone Телефон: 8 (3412) 72-55-45
        //-   .news-wrap
        //-     a(href='#').news-link-page
        //-       h3.place__header НОВОСТИ
        //-       svg.news-link-page__icon(width="26" height="14")
        //-         use(xlink:href="#icon-arrow")
        //-     .news-content
        //-       a(href='#').news-item
        //-         span.date-publication 12 апреля 2018
        //-         strong.news-item__command Сборная 8-9 классов
        //-         p.news-item__info Победители турнира «Лига Победителей». Республиканская олимпиада 7-8 классов.
        //-       a(href='#').news-item
        //-         span.date-publication 12 апреля 2018
        //-         strong.news-item__command Сборная 8-9 классов
        //-         p.news-item__info Победители турнира «Лига Победителей». Республиканская олимпиада 7-8 классов.
        //-       a(href='#').news-item
        //-         span.date-publication 12 апреля 2018
        //-         strong.news-item__command Сборная 8-9 классов
        //-         p.news-item__info Победители турнира «Лига Победителей». Республиканская олимпиада 7-8 классов.
        //-   .shares
        //-     h3.place__header Поделиться
        //-     include ./common/shares.pug



  .container
    .participants
      h3.participants__header Участники

      ul.participants__list
        li.participants__item
          .participants__img-wrapper
            img.participants__img(src="img/participant-1.jpg", alt="Иван Иванович Иванов")
          p.participants__name Иван Иванович Иванов
          p.participants__position Ведущий
        li.participants__item
          .participants__img-wrapper
            img.participants__img(src="img/participant-1.jpg", alt="Иван Иванович Иванов")
          p.participants__name Иван Иванович Иванов
          p.participants__position Ведущий
        li.participants__item
          .participants__img-wrapper
            img.participants__img(src="img/participant-1.jpg", alt="Иван Иванович Иванов")
          p.participants__name Иван Иванович Иванов
          p.participants__position Ведущий
        li.participants__item
          .participants__img-wrapper
            img.participants__img(src="img/participant-1.jpg", alt="Иван Иванович Иванов")
          p.participants__name Иван Иванович Иванов
          p.participants__position Ведущий
  section.gallery
    .container
      h2.gallery__header Галерея

      ul.gallery__list
        li.gallery__item
          a.gallery__link(href="/img/gallery-1.jpg" target="_blank")
            img.gallery__img(src="/img/gallery-1.jpg", alt="Картинка 1")

        li.gallery__item
          a.gallery__link(href="/img/gallery-1.jpg" target="_blank")
            img.gallery__img(src="/img/gallery-1.jpg", alt="Картинка 1")

        li.gallery__item
          a.gallery__link(href="/img/gallery-1.jpg" target="_blank")
            img.gallery__img(src="/img/gallery-1.jpg", alt="Картинка 1")

        li.gallery__item
          a.gallery__link(href="/img/gallery-1.jpg" target="_blank")
            img.gallery__img(src="/img/gallery-1.jpg", alt="Картинка 1")

  

  section.partners
    .container
      h2.partners__header Партнёры и спонсоры

      ul.partners__list
        li.partners__item
          a.partners__link(href="#" target="_blank")
            img.partners__img(src="img/sponsor-1.png", alt="Спонсор 1")
        li.partners__item
          a.partners__link(href="#" target="_blank")
            img.partners__img(src="img/sponsor-1.png", alt="Спонсор 1")
        li.partners__item
          a.partners__link(href="#" target="_blank")
            img.partners__img(src="img/sponsor-1.png", alt="Спонсор 1")
        li.partners__item
          a.partners__link(href="#" target="_blank")
            img.partners__img(src="img/sponsor-1.png", alt="Спонсор 1")
        li.partners__item
          a.partners__link(href="#" target="_blank")
            img.partners__img(src="img/sponsor-1.png", alt="Спонсор 1")
        li.partners__item
          a.partners__link(href="#" target="_blank")
            img.partners__img(src="img/sponsor-1.png", alt="Спонсор 1")

public/event.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="preload" href="css/styles.css" as="style" crossorigin>
    <link rel="preload" href="fonts/fira-sans-400.woff2" as="font" crossorigin>
    <link rel="preload" href="fonts/fira-sans-500.woff2" as="font" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>7 пядей</title>
    <script>// (function(){
//   function addFont() {
//     let style = document.createElement('style');
//     style.rel = 'stylesheet';
//     document.head.appendChild(style);
//     style.textContent = localStorage.fonts;
//   }

//   try {
//     if (localStorage.fonts && false) {
//       // The font is in localStorage, we can load it directly
//       addFont();
//     } else {
//       // We have to first load the font file asynchronously
//       let request = new XMLHttpRequest();
//       request.open('GET', 'fonts/fonts.css', true);

//       request.onload = function() {
//         if (request.status >= 200 && request.status < 400) {
//           // We save the file in localStorage
//           localStorage.fonts = request.responseText;

//           // ... and load the font
//           addFont();
//         }
//       }

//       request.send();
//     }
//   } catch(ex) {
//   // maybe load the font synchronously for woff-capable browsers
//   // to avoid blinking on every request when localStorage is not available
//   }
// }());


// загрузка svg спрайта и сохранение в local.storage
(function(window, document) {

  'use strict';

  var file = 'svg/sprite.svg', // путь к файлу спрайта на сервере
      revision = 1;            // версия спрайта
  if (!document.createElementNS || !document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) return true;
  var isLocalStorage = 'localStorage' in window && window['localStorage'] !== null,
    request,
    data,
    insertIT = function() {
      document.body.insertAdjacentHTML('afterbegin', data);
    },
    insert = function() {
      if (document.body) insertIT();
      else document.addEventListener('DOMContentLoaded', insertIT);
    };
  if (isLocalStorage && localStorage.getItem('inlineSVGrev') == revision-1) {
    data = localStorage.getItem('inlineSVGdata');
    if (data) {
      insert();
      return true;
    }
  }
  try {
    request = new XMLHttpRequest();
    request.open('GET', file, true);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        data = request.responseText;
        insert();
        if (isLocalStorage) {
          localStorage.setItem('inlineSVGdata', data);
          localStorage.setItem('inlineSVGrev', revision);
        }
      }
    }
    request.send();
  } catch (e) {}
}(window, document));

    </script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="http://alenn.picom.su/bitrix/cache/css/s1/alenn/kernel_main/kernel_main.css?153562098626563">
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <header class="page-header">
          <div class="container page-header__container">
            <div class="page-header__row">
              <div class="logo"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей" width="160" height="50"></a></div>
            </div>
            <div class="control-panel">
              <div class="page-header__contacts">
                <form class="page-header__search">
                  <input class="search-input" type="text" placeholder="Введите запрос">
                  <button class="search-button"></button>
                </form>
                <p class="page-header__phone"><a class="page-header__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p>
                <div class="social-block"><a class="social-link social-link--vk" href="#">
                    <svg class="social__icon" width="20" height="12">
                      <use xlink:href="#icon-vk"></use>
                    </svg></a><a class="social-link social-link--facebook" href="#">
                    <svg class="social__icon" width="8" height="16">
                      <use xlink:href="#icon-fb"></use>
                    </svg></a></div>
                <div class="hamburger"><span class="visually-hidden">Закрыть меню</span><span class="hamburger__decoration"></span></div>
              </div>
              <div class="page-header__menu no-js">
                <nav class="main-navigation">
                  <ul class="main-navigation__list">
                    <li class="main-navigation__item"><a class="main-navigation__link" href="directions.html">Наши направления</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="teachers.html">Преподователи</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="events.html">Мероприятия</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="news.html">Новости</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="about.html">О нас</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="contacts.html">Контакты</a></li>
                  </ul>
                  <div class="user-block">
                    <p class="mobile-phone"><a class="page-header__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p><a class="user-block__link button button--border button--open-lk" href="#">Войти<span class="button__decoration"></span></a>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </header>
        <div class="breadcrumbs">
          <div class="container">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a>
                <svg class="breadcrumbs__icon" width="9" height="7">
                  <use xlink:href="#icon-arrow--short"></use>
                </svg>
              </li>
              <li class="breadcrumbs__item"><a class="breadcrumbs__link">Кружки</a></li>
            </ul>
          </div>
        </div>
        <div class="page-about">
          <div class="container">
            <div class="page-about__content" style="background-image:url(./img/bg_direction.svg)">
              <div class="page-about__dates">
                <time class="page-about__date">14-15 марта 2018</time>
                <time class="page-about__duration">с 10:00 до 19:00</time>
              </div>
              <h1 class="page-about__header">Брейн-брикс «Март»</h1>
              <div class="page-about__link-wrapper button__wrapper"><a class="button" href="registration.html" target="_blank">Записаться<span class="button__decoration"></span></a></div>
            </div>
          </div>
        </div>
        <div class="tab-block">
          <div class="container">
            <div class="tab-block__row">
              <ul class="tab-block__list">
                <li class="tab-block__item"><span class="tab-block__name tab-block__name--active">Описание</span></li>
                <li class="tab-block__item"><span class="tab-block__name">Расписание</span></li>
                <li class="tab-block__item"><span class="tab-block__name">Материалы</span></li>
              </ul>
            </div>
            <div class="sections event-sections">
              <ul class="sections__list">
                <li class="sections__item sections__item--active">
                  <h2 class="sections__header">О турнире</h2>
                  <p class="sections__text">1. Каждый участник проходит три тура – письменный, компьютерный и механический тур. Каждый тур занимает 40-45 минут, между турами проходят перерывы. Начало и окончание туров фиксируются звонками.</p>
                  <p class="sections__text">2. Письменный тур состоит из четырех головоломок (типа судоку), решения которых надо сдать письменно. Все головоломки выдаются одновременно. Последовательность решения заданий не имеет значения. Правильность решения проверяет счетная комиссия.</p>
                  <p class="sections__text">3. Компьютерный тур состоит из четырех флеш-игр. Участник садится за компьютер, на котором открыты 4 вкладки, соответствующие головоломкам. Правильность решения проверяется автоматически. По окончании тура счетная комиссия фиксирует, сколько головоломок решено каждым участником.</p>
                  <p class="sections__text">4. Механический тур состоит из трех головоломок, которые надо собирать руками (механически). Головоломки выдаются участнику сразу все, собранная головоломка предъявляется счетной комиссии и отмечается в протоколе.</p>
                  <p class="sections__text">5. Каждому участнику выдается индивидуальный путевой лист, который заполняет счетная комиссия в каждом туре. Кроме того, результаты всех участников вносятся в протокол. После каждого этапа протоколы сдаются Главному Судье, который сводит их в общий протокол для подведения этапов.</p>
                  <p class="sections__text">6. Сводный протокол вывешивается для сверки. В перерывах участники могут сверить свои результаты с путевым листами и внести коррективы, подойдя к Главному Судье.</p>
                  <p class="sections__text">7. На каждом этапе имеет дополнительная головоломка повышенной сложности, которая выдается тем, кто справился с заданием полностью.</p>
                </li>
                <li class="sections__item">
                  <h2 class="sections__header">Март - Май 2018</h2>
                  <p class="sections__link-wrapper"><span class="sections__link-name">Март - Май 2018.pdf </span><a class="sections__link" href="#" target="_blank">Скачать</a></p>
                  <p class="sections__text">Полное расписание направления «Математика. Продвинутый уровень» для 4 класса на март.</p>
                  <p class="sections__text">До 1 февраля у нас будут проходить сборы, но мы очень постораемся, чтобы они не пересекались с этими занятиями и не мешали им.</p>
                </li>
                <li class="sections__item">
                  <div class="files">
                    <h2 class="visually-hidden">Полезные файлы</h2>
                    <ul class="files__list">
                      <li class="files__item"><a class="files__link files__link--doc" href="#" target="_blank">
                          <p class="files__name">Окгругли и сложи.pdf</p>
                          <div class="files__info">
                            <time class="files__date" datetime="2018-04-12">14.01.2018;</time>
                            <p class="files__size">54 Мб.</p>
                          </div></a></li>
                      <li class="files__item"><a class="files__link files__link--pdf" href="#" target="_blank">
                          <p class="files__name">Окгругли и сложи.pdf</p>
                          <div class="files__info">
                            <time class="files__date" datetime="2018-04-12">14.01.2018;</time>
                            <p class="files__size">54 Мб.</p>
                          </div></a></li>
                      <li class="files__item"><a class="files__link files__link--doc" href="#" target="_blank">
                          <p class="files__name">Окгругли и сложи.pdf</p>
                          <div class="files__info">
                            <time class="files__date" datetime="2018-04-12">14.01.2018;</time>
                            <p class="files__size">54 Мб.</p>
                          </div></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="participants">
            <h3 class="participants__header">Участники</h3>
            <ul class="participants__list">
              <li class="participants__item">
                <div class="participants__img-wrapper"><img class="participants__img" src="img/participant-1.jpg" alt="Иван Иванович Иванов"></div>
                <p class="participants__name">Иван Иванович Иванов</p>
                <p class="participants__position">Ведущий</p>
              </li>
              <li class="participants__item">
                <div class="participants__img-wrapper"><img class="participants__img" src="img/participant-1.jpg" alt="Иван Иванович Иванов"></div>
                <p class="participants__name">Иван Иванович Иванов</p>
                <p class="participants__position">Ведущий</p>
              </li>
              <li class="participants__item">
                <div class="participants__img-wrapper"><img class="participants__img" src="img/participant-1.jpg" alt="Иван Иванович Иванов"></div>
                <p class="participants__name">Иван Иванович Иванов</p>
                <p class="participants__position">Ведущий</p>
              </li>
              <li class="participants__item">
                <div class="participants__img-wrapper"><img class="participants__img" src="img/participant-1.jpg" alt="Иван Иванович Иванов"></div>
                <p class="participants__name">Иван Иванович Иванов</p>
                <p class="participants__position">Ведущий</p>
              </li>
            </ul>
          </div>
        </div>
        <section class="gallery">
          <div class="container">
            <h2 class="gallery__header">Галерея</h2>
            <ul class="gallery__list">
              <li class="gallery__item"><a class="gallery__link" href="/img/gallery-1.jpg" target="_blank"><img class="gallery__img" src="/img/gallery-1.jpg" alt="Картинка 1"></a></li>
              <li class="gallery__item"><a class="gallery__link" href="/img/gallery-1.jpg" target="_blank"><img class="gallery__img" src="/img/gallery-1.jpg" alt="Картинка 1"></a></li>
              <li class="gallery__item"><a class="gallery__link" href="/img/gallery-1.jpg" target="_blank"><img class="gallery__img" src="/img/gallery-1.jpg" alt="Картинка 1"></a></li>
              <li class="gallery__item"><a class="gallery__link" href="/img/gallery-1.jpg" target="_blank"><img class="gallery__img" src="/img/gallery-1.jpg" alt="Картинка 1"></a></li>
            </ul>
          </div>
        </section>
        <section class="partners">
          <div class="container">
            <h2 class="partners__header">Партнёры и спонсоры</h2>
            <ul class="partners__list">
              <li class="partners__item"><a class="partners__link" href="#" target="_blank"><img class="partners__img" src="img/sponsor-1.png" alt="Спонсор 1"></a></li>
              <li class="partners__item"><a class="partners__link" href="#" target="_blank"><img class="partners__img" src="img/sponsor-1.png" alt="Спонсор 1"></a></li>
              <li class="partners__item"><a class="partners__link" href="#" target="_blank"><img class="partners__img" src="img/sponsor-1.png" alt="Спонсор 1"></a></li>
              <li class="partners__item"><a class="partners__link" href="#" target="_blank"><img class="partners__img" src="img/sponsor-1.png" alt="Спонсор 1"></a></li>
              <li class="partners__item"><a class="partners__link" href="#" target="_blank"><img class="partners__img" src="img/sponsor-1.png" alt="Спонсор 1"></a></li>
              <li class="partners__item"><a class="partners__link" href="#" target="_blank"><img class="partners__img" src="img/sponsor-1.png" alt="Спонсор 1"></a></li>
            </ul>
          </div>
        </section>
      </div>
      <footer class="page-footer">
        <div class="container">
          <section class="footer-subscribe">
            <h2 class="footer-subscribe__header">Записаться на курсы</h2>
            <form class="footer-subscribe__form">
              <input class="footer-subscribe__input" type="email" placeholder="Введите ваш e-mail">
              <button class="footer-subscribe__submit button button--big160">Записаться<span class="button__decoration"></span></button>
            </form>
          </section>
          <div class="main-navigation main-navigation--footer">
            <ul class="main-navigation__list">
              <li class="main-navigation__item"><a class="main-navigation__link" href="directions.html">Наши направления</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="teachers.html">Преподователи</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="events.html">Мероприятия</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="news.html">Новости</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="about.html">О нас</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="contacts.html">Контакты</a></li>
            </ul>
          </div>
          <div class="page-footer__row">
            <div class="logo logo--footer"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей"></a></div>
            <div class="social social--footer">
              <ul class="social__list">
                <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Вконтакте</span>
                    <svg class="social__icon" width="20" height="12">
                      <use xlink:href="#icon-vk"></use>
                    </svg></a></li>
                <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Facebook</span>
                    <svg class="social__icon" width="8" height="16">
                      <use xlink:href="#icon-fb"></use>
                    </svg></a></li>
              </ul>
            </div>
            <div class="copyright">
              <p class="copyright__text">© 7 пядей.</p>
              <p class="copyright__text">Олимпиадная математика в Ижевске</p>
            </div>
            <div class="creator">Сделано в <a class="creator__link" href="http://picom.ru" target="_blank">Picom</a></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="http://alenn.picom.su/bitrix/cache/js/s1/alenn/kernel_main/kernel_main.js?1535621055298829"></script>
    <script src="js/main.js"></script>
  </body>
</html>
