frontend/pug/index.pug
doctype html
html(lang="ru")
  head
    link(rel="preload" href="css/styles.css" as="style" crossorigin)
    link(rel="preload" href="fonts/fira-sans-400.woff2" as="font" crossorigin)
    link(rel="preload" href="fonts/fira-sans-500.woff2" as="font" crossorigin)

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title 7 пядей
    script
      include layout/head-script.js
    link(rel="stylesheet" href="css/styles.css")
  body
    .registration.registration--ajax
      .logo.logo--registration
        a.logo__link(href="index.html")
          img.logo__img(src="./img/logo.svg"  alt="Логотип 7 пядей" width="160" height="88")

      .registration__content
          p.registration__step
            |Шаг 
            span.registration__step-current 1
            |  из 2
          h1.registration__header Регистрация на дистанционный конкурс

          .registration__page.registration__page--active
            p.registration__description Регистрация на «Русский медвежонок» или Гилиантус доступна для кураторов от учебных заведений Удмуртской Республики.
            p.registration__description Если вы хотите:<br>- зарегестрироваться отдельно от учебного заведния;<br>- изменить заявку заполненую ранее<br>позвоните по телефону +7 (3412) 44-44-44

            form.registration__form(action="json/success.json")
              fieldset.registration__fieldset
                p.registration__legend Заполните форму

                .registration__input-block
                  label.registration__label(for="contest-name") Название конкурса *
                  select#contest-name.registration__select(name="contest-name" data-field="0")
                    option.registration__option(value="1") Русский медвежонок
                    option.registration__option(value="2") Конкурс
                .registration__input-block
                  label.registration__label(for="address") Территориальная единица (город, район) *
                  input#address.registration__input.registration__input--address(type="text" name="address" data-field="1" required)
                .registration__input-block.registration__input-block--institution
                  label.registration__label(for="institution") Школа *
                  input#institution.registration__input.registration__input--institution(type="text" name="institution" data-field="2" required)
                  .registration__input-field.registration__input-field--noSchool
                    input.registration__input.registration__input--checkbox(type="checkbox" id="checkbox-1")
                    label.registration__label.registration__label--checkbox(for="checkbox-1" required) Моей школы нет в списке
                .registration__input-block
                  label.registration__label(for="other-school") Введите название учебного заведения. Мы зарегистрируем новое название и обновим форму, после чего Вам придет уведомление на e-mail и Вы сможете отправить заявку на конкурс
                  input#other-school.registration__input.registration__input-block--otherSchoolName(type="text" name="other-school" data-field="6" required)

              fieldset.registration__fieldset.registration__fieldset--hide
                p.registration__legend Укажите количество участников
                .registration__input-row
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-1") 1 класс
                    input#class-1.registration__input(type="text" name="class-1" placeholder="0" data-field="3")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-2") 2 класс
                    input#class-2.registration__input(type="text" name="class-2" placeholder="0" data-field="4")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-3") 3 класс
                    input#class-3.registration__input(type="text" name="class-3" placeholder="0" data-field="5")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-4") 4 класс
                    input#class-4.registration__input(type="text" name="class-4" placeholder="0" data-field="6")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-5") 5 класс
                    input#class-5.registration__input(type="text" name="class-5" placeholder="0" data-field="7")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-6") 6 класс
                    input#class-6.registration__input(type="text" name="class-6" placeholder="0" data-field="8")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-7") 7 класс
                    input#class-7.registration__input(type="text" name="class-7" placeholder="0" data-field="9")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-8") 8 класс
                    input#class-8.registration__input(type="text" name="class-8" placeholder="0" data-field="10")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-9") 9 класс
                    input#class-9.registration__input(type="text" name="class-9" placeholder="0" data-field="11")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-10") 10 класс
                    input#class-10.registration__input(type="text" name="class-10" placeholder="0" data-field="12")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-11") 11 класс
                    input#class-11.registration__input(type="text" name="class-11" placeholder="0" data-field="13")

              fieldset.registration__fieldset.registration__fieldset--hide
                p.registration__legend Контакты куратора 
                .registration__input-block
                  label.registration__label(for="contact-name") Ф.И.О. *
                  input#contact-name.registration__input(type="text" name="contact-name" data-field="14" required)
                .registration__input-block
                  label.registration__label(for="contact-email") Электронная почта *
                  input#contact-email.registration__input(type="email" name="contact-email" data-field="15" required)
                .registration__input-block
                  label.registration__label(for="contact-phone") Телефон * 
                  input#contact-phone.registration__input.registration__input--phone.js-phone(type="text" name="contact-phone" data-field="16" required)


            .registration__controls.button__wrapper.button__wrapper--center
              button.registration__control-next.button
                |Следующий шаг
                span.button__decoration

          .registration__page
            .registration-check
              .registration-check__block
                .registration-check__block-header Заполните форму
                .registration-check__item
                  p.registration-check__name Название конкурса
                  p.registration-check__value(data-field="0") Русский медвежонок
                .registration-check__item
                  p.registration-check__name Адрес
                  p.registration-check__value(data-field="1")
                .registration-check__item
                  p.registration-check__name Учебное заведение
                  p.registration-check__value(data-field="2")

              .registration-check__block
                .registration-check__block-header Количество участников
                .registration-check__row
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 1 класс: 
                    p.registration-check__value(data-field="3") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 2 класс: 
                    p.registration-check__value(data-field="4") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 3 класс: 
                    p.registration-check__value(data-field="5") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 4 класс: 
                    p.registration-check__value(data-field="6") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 5 класс: 
                    p.registration-check__value(data-field="7") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 6 класс: 
                    p.registration-check__value(data-field="8") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 7 класс: 
                    p.registration-check__value(data-field="9") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 8 класс: 
                    p.registration-check__value(data-field="10") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 9 класс: 
                    p.registration-check__value(data-field="11") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 10 класс: 
                    p.registration-check__value(data-field="12") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 11 класс: 
                    p.registration-check__value(data-field="13") 0

              .registration-check__block
                .registration-check__block-header Контакты куратора
                .registration-check__item
                  p.registration-check__name Ф.И.О.
                  p.registration-check__value(data-field="14")
                .registration-check__item
                  p.registration-check__name Электронная почта
                  p.registration-check__value(data-field="15")
                .registration-check__item
                  p.registration-check__name Телефон
                  p.registration-check__value(data-field="16")


            .registration__controls.button__wrapper.button__wrapper--center
              button.registration__control-prev.button.button--border
                |Назад
                span.button__decoration
              button.registration__control-submit.button
                |Отправить
                span.button__decoration

            .agreement
              input.agreement__input(type="checkbox" id="agreement")
              label.agreement__label(for="agreement")
                |Я согласен с условиями 
                a.agreement__link(href="#" target="_blank") пользовательского соглашения
            p.registration__hint После отправки формы регистрации, на указанный электронный адрес придёт письмо с подтверждением регистрации



    .popup__overlay
      .popup.popup--registration-success
        p.popup__header Спасибо!
        p.popup__text Мы перезвоним вам в течении рабочего дня.
        button.popup__close
          span.visually-hidden Закрыть окно


    script(src="js/main.js")

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="preload" href="css/styles.css" as="style" crossorigin>
    <link rel="preload" href="fonts/fira-sans-400.woff2" as="font" crossorigin>
    <link rel="preload" href="fonts/fira-sans-500.woff2" as="font" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>7 пядей</title>
    <script>// (function(){
//   function addFont() {
//     let style = document.createElement('style');
//     style.rel = 'stylesheet';
//     document.head.appendChild(style);
//     style.textContent = localStorage.fonts;
//   }

//   try {
//     if (localStorage.fonts && false) {
//       // The font is in localStorage, we can load it directly
//       addFont();
//     } else {
//       // We have to first load the font file asynchronously
//       let request = new XMLHttpRequest();
//       request.open('GET', 'fonts/fonts.css', true);

//       request.onload = function() {
//         if (request.status >= 200 && request.status < 400) {
//           // We save the file in localStorage
//           localStorage.fonts = request.responseText;

//           // ... and load the font
//           addFont();
//         }
//       }

//       request.send();
//     }
//   } catch(ex) {
//   // maybe load the font synchronously for woff-capable browsers
//   // to avoid blinking on every request when localStorage is not available
//   }
// }());


// загрузка svg спрайта и сохранение в local.storage
(function(window, document) {

  'use strict';

  var file = 'svg/sprite.svg', // путь к файлу спрайта на сервере
      revision = 1;            // версия спрайта
  if (!document.createElementNS || !document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) return true;
  var isLocalStorage = 'localStorage' in window && window['localStorage'] !== null,
    request,
    data,
    insertIT = function() {
      document.body.insertAdjacentHTML('afterbegin', data);
    },
    insert = function() {
      if (document.body) insertIT();
      else document.addEventListener('DOMContentLoaded', insertIT);
    };
  if (isLocalStorage && localStorage.getItem('inlineSVGrev') == revision-1) {
    data = localStorage.getItem('inlineSVGdata');
    if (data) {
      insert();
      return true;
    }
  }
  try {
    request = new XMLHttpRequest();
    request.open('GET', file, true);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        data = request.responseText;
        insert();
        if (isLocalStorage) {
          localStorage.setItem('inlineSVGdata', data);
          localStorage.setItem('inlineSVGrev', revision);
        }
      }
    }
    request.send();
  } catch (e) {}
}(window, document));

    </script>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="registration registration--ajax">
      <div class="logo logo--registration"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей" width="160" height="88"></a></div>
      <div class="registration__content">
        <p class="registration__step">Шаг <span class="registration__step-current">1</span> из 2</p>
        <h1 class="registration__header">Регистрация на дистанционный конкурс</h1>
        <div class="registration__page registration__page--active">
          <p class="registration__description">Регистрация на «Русский медвежонок» или Гилиантус доступна для кураторов от учебных заведений Удмуртской Республики.</p>
          <p class="registration__description">Если вы хотите:<br>- зарегестрироваться отдельно от учебного заведния;<br>- изменить заявку заполненую ранее<br>позвоните по телефону +7 (3412) 44-44-44</p>
          <form class="registration__form" action="json/success.json">
            <fieldset class="registration__fieldset">
              <p class="registration__legend">Заполните форму</p>
              <div class="registration__input-block">
                <label class="registration__label" for="contest-name">Название конкурса *</label>
                <select class="registration__select" id="contest-name" name="contest-name" data-field="0">
                  <option class="registration__option" value="1">Русский медвежонок</option>
                  <option class="registration__option" value="2">Конкурс</option>
                </select>
              </div>
              <div class="registration__input-block">
                <label class="registration__label" for="address">Территориальная единица (город, район) *</label>
                <input class="registration__input registration__input--address" id="address" type="text" name="address" data-field="1" required>
              </div>
              <div class="registration__input-block registration__input-block--institution">
                <label class="registration__label" for="institution">Школа *</label>
                <input class="registration__input registration__input--institution" id="institution" type="text" name="institution" data-field="2" required>
                <div class="registration__input-field registration__input-field--noSchool">
                  <input class="registration__input registration__input--checkbox" type="checkbox" id="checkbox-1">
                  <label class="registration__label registration__label--checkbox" for="checkbox-1" required>Моей школы нет в списке</label>
                </div>
              </div>
              <div class="registration__input-block">
                <label class="registration__label" for="other-school">Введите название учебного заведения. Мы зарегистрируем новое название и обновим форму, после чего Вам придет уведомление на e-mail и Вы сможете отправить заявку на конкурс</label>
                <input class="registration__input registration__input-block--otherSchoolName" id="other-school" type="text" name="other-school" data-field="6" required>
              </div>
            </fieldset>
            <fieldset class="registration__fieldset registration__fieldset--hide">
              <p class="registration__legend">Укажите количество участников</p>
              <div class="registration__input-row">
                <div class="registration__input-block registration__input-block--class">
                  <label class="registration__label" for="class-1">1 класс</label>
                  <input class="registration__input" id="class-1" type="text" name="class-1" placeholder="0" data-field="3">
                </div>
                <div class="registration__input-block registration__input-block--class">
                  <label class="registration__label" for="class-2">2 класс</label>
                  <input class="registration__input" id="class-2" type="text" name="class-2" placeholder="0" data-field="4">
                </div>
                <div class="registration__input-block registration__input-block--class">
                  <label class="registration__label" for="class-3">3 класс</label>
                  <input class="registration__input" id="class-3" type="text" name="class-3" placeholder="0" data-field="5">
                </div>
                <div class="registration__input-block registration__input-block--class">
                  <label class="registration__label" for="class-4">4 класс</label>
                  <input class="registration__input" id="class-4" type="text" name="class-4" placeholder="0" data-field="6">
                </div>
                <div class="registration__input-block registration__input-block--class">
                  <label class="registration__label" for="class-5">5 класс</label>
                  <input class="registration__input" id="class-5" type="text" name="class-5" placeholder="0" data-field="7">
                </div>
                <div class="registration__input-block registration__input-block--class">
                  <label class="registration__label" for="class-6">6 класс</label>
                  <input class="registration__input" id="class-6" type="text" name="class-6" placeholder="0" data-field="8">
                </div>
                <div class="registration__input-block registration__input-block--class">
                  <label class="registration__label" for="class-7">7 класс</label>
                  <input class="registration__input" id="class-7" type="text" name="class-7" placeholder="0" data-field="9">
                </div>
                <div class="registration__input-block registration__input-block--class">
                  <label class="registration__label" for="class-8">8 класс</label>
                  <input class="registration__input" id="class-8" type="text" name="class-8" placeholder="0" data-field="10">
                </div>
                <div class="registration__input-block registration__input-block--class">
                  <label class="registration__label" for="class-9">9 класс</label>
                  <input class="registration__input" id="class-9" type="text" name="class-9" placeholder="0" data-field="11">
                </div>
                <div class="registration__input-block registration__input-block--class">
                  <label class="registration__label" for="class-10">10 класс</label>
                  <input class="registration__input" id="class-10" type="text" name="class-10" placeholder="0" data-field="12">
                </div>
                <div class="registration__input-block registration__input-block--class">
                  <label class="registration__label" for="class-11">11 класс</label>
                  <input class="registration__input" id="class-11" type="text" name="class-11" placeholder="0" data-field="13">
                </div>
              </div>
            </fieldset>
            <fieldset class="registration__fieldset registration__fieldset--hide">
              <p class="registration__legend">Контакты куратора </p>
              <div class="registration__input-block">
                <label class="registration__label" for="contact-name">Ф.И.О. *</label>
                <input class="registration__input" id="contact-name" type="text" name="contact-name" data-field="14" required>
              </div>
              <div class="registration__input-block">
                <label class="registration__label" for="contact-email">Электронная почта *</label>
                <input class="registration__input" id="contact-email" type="email" name="contact-email" data-field="15" required>
              </div>
              <div class="registration__input-block">
                <label class="registration__label" for="contact-phone">Телефон * </label>
                <input class="registration__input registration__input--phone js-phone" id="contact-phone" type="text" name="contact-phone" data-field="16" required>
              </div>
            </fieldset>
          </form>
          <div class="registration__controls button__wrapper button__wrapper--center">
            <button class="registration__control-next button">Следующий шаг<span class="button__decoration"></span></button>
          </div>
        </div>
        <div class="registration__page">
          <div class="registration-check">
            <div class="registration-check__block">
              <div class="registration-check__block-header">Заполните форму</div>
              <div class="registration-check__item">
                <p class="registration-check__name">Название конкурса</p>
                <p class="registration-check__value" data-field="0">Русский медвежонок</p>
              </div>
              <div class="registration-check__item">
                <p class="registration-check__name">Адрес</p>
                <p class="registration-check__value" data-field="1"></p>
              </div>
              <div class="registration-check__item">
                <p class="registration-check__name">Учебное заведение</p>
                <p class="registration-check__value" data-field="2"></p>
              </div>
            </div>
            <div class="registration-check__block">
              <div class="registration-check__block-header">Количество участников</div>
              <div class="registration-check__row">
                <div class="registration-check__item registration-check__item--class">
                  <p class="registration-check__name">1 класс: </p>
                  <p class="registration-check__value" data-field="3">0</p>
                </div>
                <div class="registration-check__item registration-check__item--class">
                  <p class="registration-check__name">2 класс: </p>
                  <p class="registration-check__value" data-field="4">0</p>
                </div>
                <div class="registration-check__item registration-check__item--class">
                  <p class="registration-check__name">3 класс: </p>
                  <p class="registration-check__value" data-field="5">0</p>
                </div>
                <div class="registration-check__item registration-check__item--class">
                  <p class="registration-check__name">4 класс: </p>
                  <p class="registration-check__value" data-field="6">0</p>
                </div>
                <div class="registration-check__item registration-check__item--class">
                  <p class="registration-check__name">5 класс: </p>
                  <p class="registration-check__value" data-field="7">0</p>
                </div>
                <div class="registration-check__item registration-check__item--class">
                  <p class="registration-check__name">6 класс: </p>
                  <p class="registration-check__value" data-field="8">0</p>
                </div>
                <div class="registration-check__item registration-check__item--class">
                  <p class="registration-check__name">7 класс: </p>
                  <p class="registration-check__value" data-field="9">0</p>
                </div>
                <div class="registration-check__item registration-check__item--class">
                  <p class="registration-check__name">8 класс: </p>
                  <p class="registration-check__value" data-field="10">0</p>
                </div>
                <div class="registration-check__item registration-check__item--class">
                  <p class="registration-check__name">9 класс: </p>
                  <p class="registration-check__value" data-field="11">0</p>
                </div>
                <div class="registration-check__item registration-check__item--class">
                  <p class="registration-check__name">10 класс: </p>
                  <p class="registration-check__value" data-field="12">0</p>
                </div>
                <div class="registration-check__item registration-check__item--class">
                  <p class="registration-check__name">11 класс: </p>
                  <p class="registration-check__value" data-field="13">0</p>
                </div>
              </div>
            </div>
            <div class="registration-check__block">
              <div class="registration-check__block-header">Контакты куратора</div>
              <div class="registration-check__item">
                <p class="registration-check__name">Ф.И.О.</p>
                <p class="registration-check__value" data-field="14"></p>
              </div>
              <div class="registration-check__item">
                <p class="registration-check__name">Электронная почта</p>
                <p class="registration-check__value" data-field="15"></p>
              </div>
              <div class="registration-check__item">
                <p class="registration-check__name">Телефон</p>
                <p class="registration-check__value" data-field="16"></p>
              </div>
            </div>
          </div>
          <div class="registration__controls button__wrapper button__wrapper--center">
            <button class="registration__control-prev button button--border">Назад<span class="button__decoration"></span></button>
            <button class="registration__control-submit button">Отправить<span class="button__decoration"></span></button>
          </div>
          <div class="agreement">
            <input class="agreement__input" type="checkbox" id="agreement">
            <label class="agreement__label" for="agreement">Я согласен с условиями <a class="agreement__link" href="#" target="_blank">пользовательского соглашения</a></label>
          </div>
          <p class="registration__hint">После отправки формы регистрации, на указанный электронный адрес придёт письмо с подтверждением регистрации</p>
        </div>
      </div>
    </div>
    <div class="popup__overlay">
      <div class="popup popup--registration-success">
        <p class="popup__header">Спасибо!</p>
        <p class="popup__text">Мы перезвоним вам в течении рабочего дня.</p>
        <button class="popup__close"><span class="visually-hidden">Закрыть окно</span></button>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
