frontend/pug/news.pug
extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug



  .page-about
    .container
      .page-about__content(style="background-image:url(./img/bg_direction.svg)")
        h1.page-about__header Новости



  .filter
    form.filter__form(action="json/news.json")
      .filter__container.container
        .filter__form-row
          label.filter__label(for="filter1") Класс:
          select#filter1.filter__select(name="class")
            option.filter__option(value="0") Все
            option.filter__option(value="7") 7
            option.filter__option(value="8") 8
        .filter__form-row
          label.filter__label(for="filter2") Предмет:
          select#filter2.filter__select(name="subject")
            option.filter__option(value="0") Все
            option.filter__option(value="7") Математика
            option.filter__option(value="8") Обществознание
        .filter__form-row
          label.filter__label(for="filter3") Дата:
          select#filter3.filter__select(name="date")
            option.filter__option(value="0") Все
            option.filter__option(value="1") 12-17 марта
            option.filter__option(value="1") 18-22 марта



    .container
      .result(data-type="news")
        p.result__header 234 результата
        ul.result__list.result__list--news
          li.result__item
            .news-card
              a.news-card__link(href="one-news.html")
                .news-card__img-wrapper
                  div.bg-blur(style="background-image: url('./img/news-1-small.jpg')")
                  img.news-card__img(src="./img/news-1-small.jpg", alt="" )
                  div.news-card__hover-block
                    | Победители турнира «Лига победителей».
                    br
                    | Республиканская олимпиада 7-8 классов.
                    span.button.open-news
                      span.button__decoration
                div
                  time.news-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.news-card__name Сборная 8-9 классов
          li.result__item
            .news-card
              a.news-card__link(href="one-news.html")
                .news-card__img-wrapper
                  div.bg-blur(style="background-image: url('http://alenn.picom.su/upload/resize_cache/iblock/303/350_450_140cd750bba9870f18aada2478b24840a/ludk.png')")
                  img.news-card__img(src="http://alenn.picom.su/upload/resize_cache/iblock/303/350_450_140cd750bba9870f18aada2478b24840a/ludk.png", alt="" )
                  div.news-card__hover-block
                    | Победители турнира «Лига победителей».
                    br
                    | Республиканская олимпиада 7-8 классов.
                    span.button.open-news
                      span.button__decoration
                div
                  time.news-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.news-card__name Сборная 8-9 классов
          li.result__item
            .news-card
              a.news-card__link(href="one-news.html")
                .news-card__img-wrapper
                  div.bg-blur(style="background-image: url('./img/news-1-small.jpg')")
                  img.news-card__img(src="./img/news-1-small.jpg", alt="" )
                  div.news-card__hover-block
                    | Победители турнира «Лига победителей».
                    br
                    | Республиканская олимпиада 7-8 классов.
                    span.button.open-news
                      span.button__decoration
                div
                  time.news-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.news-card__name Сборная 8-9 классов
          li.result__item
            .news-card
              a.news-card__link(href="one-news.html")
                .news-card__img-wrapper
                  div.bg-blur(style="background-image: url('./img/news-1-small.jpg')")
                  img.news-card__img(src="./img/news-1-small-small.jpg", alt="" )
                  div.news-card__hover-block
                    | Победители турнира «Лига победителей».
                    br
                    | Республиканская олимпиада 7-8 классов.
                    span.button.open-news
                      span.button__decoration
                div
                  time.news-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.news-card__name Сборная 8-9 классов
          li.result__item
            .news-card
              a.news-card__link.no-img(href="one-news.html")
                .news-card__img-wrapper
                  img.news-card__img(src="", alt="" )
                  div.news-card__hover-block
                    | Победители турнира «Лига победителей».
                    br
                    | Республиканская олимпиада 7-8 классов.
                    span.button.open-news
                      span.button__decoration
                div
                  time.news-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.news-card__name Сборная 8-9 классов
          li.result__item
            .news-card
              a.news-card__link(href="one-news.html")
                .news-card__img-wrapper
                  div.bg-blur(style="background-image: url('./img/news-1.jpg')")
                  img.news-card__img(src="./img/news-1.jpg", alt="" )
                  div.news-card__hover-block
                    | Победители турнира «Лига победителей».
                    br
                    | Республиканская олимпиада 7-8 классов.
                    span.button.open-news
                      span.button__decoration
                div
                  time.news-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.news-card__name Сборная 8-9 классов

        .result__more-wrapper.button__wrapper
          a.result__more.button.button--border(href="#")
            |Показать больше
            span.button__decoration

public/news.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="preload" href="css/styles.css" as="style" crossorigin>
    <link rel="preload" href="fonts/fira-sans-400.woff2" as="font" crossorigin>
    <link rel="preload" href="fonts/fira-sans-500.woff2" as="font" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>7 пядей</title>
    <script>// (function(){
//   function addFont() {
//     let style = document.createElement('style');
//     style.rel = 'stylesheet';
//     document.head.appendChild(style);
//     style.textContent = localStorage.fonts;
//   }

//   try {
//     if (localStorage.fonts && false) {
//       // The font is in localStorage, we can load it directly
//       addFont();
//     } else {
//       // We have to first load the font file asynchronously
//       let request = new XMLHttpRequest();
//       request.open('GET', 'fonts/fonts.css', true);

//       request.onload = function() {
//         if (request.status >= 200 && request.status < 400) {
//           // We save the file in localStorage
//           localStorage.fonts = request.responseText;

//           // ... and load the font
//           addFont();
//         }
//       }

//       request.send();
//     }
//   } catch(ex) {
//   // maybe load the font synchronously for woff-capable browsers
//   // to avoid blinking on every request when localStorage is not available
//   }
// }());


// загрузка svg спрайта и сохранение в local.storage
(function(window, document) {

  'use strict';

  var file = 'svg/sprite.svg', // путь к файлу спрайта на сервере
      revision = 1;            // версия спрайта
  if (!document.createElementNS || !document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) return true;
  var isLocalStorage = 'localStorage' in window && window['localStorage'] !== null,
    request,
    data,
    insertIT = function() {
      document.body.insertAdjacentHTML('afterbegin', data);
    },
    insert = function() {
      if (document.body) insertIT();
      else document.addEventListener('DOMContentLoaded', insertIT);
    };
  if (isLocalStorage && localStorage.getItem('inlineSVGrev') == revision-1) {
    data = localStorage.getItem('inlineSVGdata');
    if (data) {
      insert();
      return true;
    }
  }
  try {
    request = new XMLHttpRequest();
    request.open('GET', file, true);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        data = request.responseText;
        insert();
        if (isLocalStorage) {
          localStorage.setItem('inlineSVGdata', data);
          localStorage.setItem('inlineSVGrev', revision);
        }
      }
    }
    request.send();
  } catch (e) {}
}(window, document));

    </script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="http://alenn.picom.su/bitrix/cache/css/s1/alenn/kernel_main/kernel_main.css?153562098626563">
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <header class="page-header">
          <div class="container page-header__container">
            <div class="page-header__row">
              <div class="logo"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей" width="160" height="50"></a></div>
            </div>
            <div class="control-panel">
              <div class="page-header__contacts">
                <form class="page-header__search">
                  <input class="search-input" type="text" placeholder="Введите запрос">
                  <button class="search-button"></button>
                </form>
                <p class="page-header__phone"><a class="page-header__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p>
                <div class="social-block"><a class="social-link social-link--vk" href="#">
                    <svg class="social__icon" width="20" height="12">
                      <use xlink:href="#icon-vk"></use>
                    </svg></a><a class="social-link social-link--facebook" href="#">
                    <svg class="social__icon" width="8" height="16">
                      <use xlink:href="#icon-fb"></use>
                    </svg></a></div>
                <div class="hamburger"><span class="visually-hidden">Закрыть меню</span><span class="hamburger__decoration"></span></div>
              </div>
              <div class="page-header__menu no-js">
                <nav class="main-navigation">
                  <ul class="main-navigation__list">
                    <li class="main-navigation__item"><a class="main-navigation__link" href="directions.html">Наши направления</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="teachers.html">Преподователи</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="events.html">Мероприятия</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="news.html">Новости</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="about.html">О нас</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="contacts.html">Контакты</a></li>
                  </ul>
                  <div class="user-block">
                    <p class="mobile-phone"><a class="page-header__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p><a class="user-block__link button button--border button--open-lk" href="#">Войти<span class="button__decoration"></span></a>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </header>
        <div class="breadcrumbs">
          <div class="container">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a>
                <svg class="breadcrumbs__icon" width="9" height="7">
                  <use xlink:href="#icon-arrow--short"></use>
                </svg>
              </li>
              <li class="breadcrumbs__item"><a class="breadcrumbs__link">Кружки</a></li>
            </ul>
          </div>
        </div>
        <div class="page-about">
          <div class="container">
            <div class="page-about__content" style="background-image:url(./img/bg_direction.svg)">
              <h1 class="page-about__header">Новости</h1>
            </div>
          </div>
        </div>
        <div class="filter">
          <form class="filter__form" action="json/news.json">
            <div class="filter__container container">
              <div class="filter__form-row">
                <label class="filter__label" for="filter1">Класс:</label>
                <select class="filter__select" id="filter1" name="class">
                  <option class="filter__option" value="0">Все</option>
                  <option class="filter__option" value="7">7</option>
                  <option class="filter__option" value="8">8</option>
                </select>
              </div>
              <div class="filter__form-row">
                <label class="filter__label" for="filter2">Предмет:</label>
                <select class="filter__select" id="filter2" name="subject">
                  <option class="filter__option" value="0">Все</option>
                  <option class="filter__option" value="7">Математика</option>
                  <option class="filter__option" value="8">Обществознание</option>
                </select>
              </div>
              <div class="filter__form-row">
                <label class="filter__label" for="filter3">Дата:</label>
                <select class="filter__select" id="filter3" name="date">
                  <option class="filter__option" value="0">Все</option>
                  <option class="filter__option" value="1">12-17 марта</option>
                  <option class="filter__option" value="1">18-22 марта</option>
                </select>
              </div>
            </div>
          </form>
          <div class="container">
            <div class="result" data-type="news">
              <p class="result__header">234 результата</p>
              <ul class="result__list result__list--news">
                <li class="result__item">
                  <div class="news-card"><a class="news-card__link" href="one-news.html">
                      <div class="news-card__img-wrapper">
                        <div class="bg-blur" style="background-image: url('./img/news-1-small.jpg')"></div><img class="news-card__img" src="./img/news-1-small.jpg" alt="">
                        <div class="news-card__hover-block">Победители турнира «Лига победителей».<br>Республиканская олимпиада 7-8 классов.<span class="button open-news"><span class="button__decoration"></span></span></div>
                      </div>
                      <div>
                        <time class="news-card__date" datetime="2018-04-12">12 апреля 2018</time>
                        <p class="news-card__name">Сборная 8-9 классов</p>
                      </div></a></div>
                </li>
                <li class="result__item">
                  <div class="news-card"><a class="news-card__link" href="one-news.html">
                      <div class="news-card__img-wrapper">
                        <div class="bg-blur" style="background-image: url('http://alenn.picom.su/upload/resize_cache/iblock/303/350_450_140cd750bba9870f18aada2478b24840a/ludk.png')"></div><img class="news-card__img" src="http://alenn.picom.su/upload/resize_cache/iblock/303/350_450_140cd750bba9870f18aada2478b24840a/ludk.png" alt="">
                        <div class="news-card__hover-block">Победители турнира «Лига победителей».<br>Республиканская олимпиада 7-8 классов.<span class="button open-news"><span class="button__decoration"></span></span></div>
                      </div>
                      <div>
                        <time class="news-card__date" datetime="2018-04-12">12 апреля 2018</time>
                        <p class="news-card__name">Сборная 8-9 классов</p>
                      </div></a></div>
                </li>
                <li class="result__item">
                  <div class="news-card"><a class="news-card__link" href="one-news.html">
                      <div class="news-card__img-wrapper">
                        <div class="bg-blur" style="background-image: url('./img/news-1-small.jpg')"></div><img class="news-card__img" src="./img/news-1-small.jpg" alt="">
                        <div class="news-card__hover-block">Победители турнира «Лига победителей».<br>Республиканская олимпиада 7-8 классов.<span class="button open-news"><span class="button__decoration"></span></span></div>
                      </div>
                      <div>
                        <time class="news-card__date" datetime="2018-04-12">12 апреля 2018</time>
                        <p class="news-card__name">Сборная 8-9 классов</p>
                      </div></a></div>
                </li>
                <li class="result__item">
                  <div class="news-card"><a class="news-card__link" href="one-news.html">
                      <div class="news-card__img-wrapper">
                        <div class="bg-blur" style="background-image: url('./img/news-1-small.jpg')"></div><img class="news-card__img" src="./img/news-1-small-small.jpg" alt="">
                        <div class="news-card__hover-block">Победители турнира «Лига победителей».<br>Республиканская олимпиада 7-8 классов.<span class="button open-news"><span class="button__decoration"></span></span></div>
                      </div>
                      <div>
                        <time class="news-card__date" datetime="2018-04-12">12 апреля 2018</time>
                        <p class="news-card__name">Сборная 8-9 классов</p>
                      </div></a></div>
                </li>
                <li class="result__item">
                  <div class="news-card"><a class="news-card__link no-img" href="one-news.html">
                      <div class="news-card__img-wrapper"><img class="news-card__img" src="" alt="">
                        <div class="news-card__hover-block">Победители турнира «Лига победителей».<br>Республиканская олимпиада 7-8 классов.<span class="button open-news"><span class="button__decoration"></span></span></div>
                      </div>
                      <div>
                        <time class="news-card__date" datetime="2018-04-12">12 апреля 2018</time>
                        <p class="news-card__name">Сборная 8-9 классов</p>
                      </div></a></div>
                </li>
                <li class="result__item">
                  <div class="news-card"><a class="news-card__link" href="one-news.html">
                      <div class="news-card__img-wrapper">
                        <div class="bg-blur" style="background-image: url('./img/news-1.jpg')"></div><img class="news-card__img" src="./img/news-1.jpg" alt="">
                        <div class="news-card__hover-block">Победители турнира «Лига победителей».<br>Республиканская олимпиада 7-8 классов.<span class="button open-news"><span class="button__decoration"></span></span></div>
                      </div>
                      <div>
                        <time class="news-card__date" datetime="2018-04-12">12 апреля 2018</time>
                        <p class="news-card__name">Сборная 8-9 классов</p>
                      </div></a></div>
                </li>
              </ul>
              <div class="result__more-wrapper button__wrapper"><a class="result__more button button--border" href="#">Показать больше<span class="button__decoration"></span></a></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="page-footer">
        <div class="container">
          <section class="footer-subscribe">
            <h2 class="footer-subscribe__header">Записаться на курсы</h2>
            <form class="footer-subscribe__form">
              <input class="footer-subscribe__input" type="email" placeholder="Введите ваш e-mail">
              <button class="footer-subscribe__submit button button--big160">Записаться<span class="button__decoration"></span></button>
            </form>
          </section>
          <div class="main-navigation main-navigation--footer">
            <ul class="main-navigation__list">
              <li class="main-navigation__item"><a class="main-navigation__link" href="directions.html">Наши направления</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="teachers.html">Преподователи</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="events.html">Мероприятия</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="news.html">Новости</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="about.html">О нас</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="contacts.html">Контакты</a></li>
            </ul>
          </div>
          <div class="page-footer__row">
            <div class="logo logo--footer"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей"></a></div>
            <div class="social social--footer">
              <ul class="social__list">
                <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Вконтакте</span>
                    <svg class="social__icon" width="20" height="12">
                      <use xlink:href="#icon-vk"></use>
                    </svg></a></li>
                <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Facebook</span>
                    <svg class="social__icon" width="8" height="16">
                      <use xlink:href="#icon-fb"></use>
                    </svg></a></li>
              </ul>
            </div>
            <div class="copyright">
              <p class="copyright__text">© 7 пядей.</p>
              <p class="copyright__text">Олимпиадная математика в Ижевске</p>
            </div>
            <div class="creator">Сделано в <a class="creator__link" href="http://picom.ru" target="_blank">Picom</a></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="http://alenn.picom.su/bitrix/cache/js/s1/alenn/kernel_main/kernel_main.js?1535621055298829"></script>
    <script src="js/main.js"></script>
  </body>
</html>
