frontend/pug/registrationCource.pug
extends ./layout/index.pug

block content
  h1.visually-hidden Главная страница 7 пядей

  .breadcrumbs
    .container
      ul.breadcrumbs__list
        li.breadcrumbs__item
          a(href="#").breadcrumbs__link Главная
          svg(width="9" height="7").breadcrumbs__icon
            use(xlink:href="#icon-arrow--short")
        li.breadcrumbs__item
          span.breadcrumbs__link Регистрация на курсы


  .registration.registration--cource
    .registration__content
      h1.registration__header Регистрация на курсы

      .registration__page.registration__page--active
        p.registration__description Заполните данные и мы свяжемся с вами в ближайшее время.

        form.registration__form(action="json/success.json")
          fieldset.registration__fieldset
            p.registration__legend Заполните форму

           
            .registration__input-block
              label.registration__label(for="name") Фамилия, имя ребенка
              input#name.registration__input(type="text" name="name" data-field="1" required)
            .registration__input-block.registration__input-block--grade
              label.registration__label(for="grade") Класс
              select#grade.registration__select.registration__select--grade(name="grade" data-field="2")
                option.registration__option(value="3") 3
                option.registration__option(value="4") 4
                option.registration__option(value="5") 5

            .registration__input-block
              label.registration__label(for="school") Школа
              input#school.registration__input(type="text" name="school" data-field="3" required)

            .registration__input-block.registration__input-block--pair
              label.registration__label(for="pair") Смена, в которую учится ребенок
              select#pair.registration__select.registration__select--grade(name="pair" data-field="4")
                option.registration__option(value="1") Первая
                option.registration__option(value="2") Вторая

            .registration__input-block
              label.registration__label(for="course") Курс (!!! Обратите внимание для какого возраста он предназначен)
              .registration__input-field
                input.registration__input.registration__input--checkbox(type="checkbox" id="checkbox-1")
                label.registration__label.registration__label--checkbox(for="checkbox-1") Олимпиадная информатика (с 6 по 11 класс)
              .registration__input-field
                input.registration__input.registration__input--checkbox(type="checkbox" id="checkbox-2")
                label.registration__label.registration__label--checkbox(for="checkbox-2" required) Олимпиадная информатика, начинающие (6 - 9 класс)
            
            .registration__input-block
              label.registration__label(for="mobile-child") Сотовый телефон ребенка
              input#mobile-child.registration__input.registration__input--phone.js-phone(type="text" name="mobile-child" data-field="5")

            .registration__input-block
              label.registration__label(for="contact-name") ФИО одного из родителей 
              input#contact-name.registration__input(type="text" name="contact-name" data-field="6" required)
            
            .registration__input-block
              label.registration__label(for="contact-name-mobile") Сотовый телефон
              input#contact-name-mobile.registration__input.registration__input--phone.js-phone(type="text" name="contact-name-mobile" data-field="7")
            
            .registration__input-block
              label.registration__label(for="contact-email") Электронная почта
              input#contact-email.registration__input(type="email" name="contact-email" data-field="8" required)
            
            .registration__input-block
              label.registration__label(for="pair") Откуда Вы узнали про Центр "СЕМЬ ПЯДЕЙ"?
              select#pair.registration__select.registration__select--grade(name="pair" data-field="9")
                option.registration__option(value="1") Ребенок ходил в прошлом году
                option.registration__option(value="2") Ребенок участвовал в Сборах "Головастик"

        .registration__controls.button__wrapper.button__wrapper--center
          button.registration__control-prev.button.button--border
            |Назад
            span.button__decoration
          button.registration__control-submit.button
            |Отправить
            span.button__decoration

        .agreement
          input.agreement__input(type="checkbox" id="agreement")
          label.agreement__label(for="agreement")
            |Я согласен с условиями 
            a.agreement__link(href="#" target="_blank") пользовательского соглашения
        p.registration__hint После отправки формы регистрации, на указанный электронный адрес придёт письмо с подтверждением регистрации

  .popup__overlay
    .popup.popup--registration-success
      p.popup__header Спасибо!
      p.popup__text Мы перезвоним вам в течении рабочего дня.
      button.popup__close
        span.visually-hidden Закрыть окно


  script(src="js/main.js")

public/registrationCource.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="preload" href="css/styles.css" as="style" crossorigin>
    <link rel="preload" href="fonts/fira-sans-400.woff2" as="font" crossorigin>
    <link rel="preload" href="fonts/fira-sans-500.woff2" as="font" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>7 пядей</title>
    <script>// (function(){
//   function addFont() {
//     let style = document.createElement('style');
//     style.rel = 'stylesheet';
//     document.head.appendChild(style);
//     style.textContent = localStorage.fonts;
//   }

//   try {
//     if (localStorage.fonts && false) {
//       // The font is in localStorage, we can load it directly
//       addFont();
//     } else {
//       // We have to first load the font file asynchronously
//       let request = new XMLHttpRequest();
//       request.open('GET', 'fonts/fonts.css', true);

//       request.onload = function() {
//         if (request.status >= 200 && request.status < 400) {
//           // We save the file in localStorage
//           localStorage.fonts = request.responseText;

//           // ... and load the font
//           addFont();
//         }
//       }

//       request.send();
//     }
//   } catch(ex) {
//   // maybe load the font synchronously for woff-capable browsers
//   // to avoid blinking on every request when localStorage is not available
//   }
// }());


// загрузка svg спрайта и сохранение в local.storage
(function(window, document) {

  'use strict';

  var file = 'svg/sprite.svg', // путь к файлу спрайта на сервере
      revision = 1;            // версия спрайта
  if (!document.createElementNS || !document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) return true;
  var isLocalStorage = 'localStorage' in window && window['localStorage'] !== null,
    request,
    data,
    insertIT = function() {
      document.body.insertAdjacentHTML('afterbegin', data);
    },
    insert = function() {
      if (document.body) insertIT();
      else document.addEventListener('DOMContentLoaded', insertIT);
    };
  if (isLocalStorage && localStorage.getItem('inlineSVGrev') == revision-1) {
    data = localStorage.getItem('inlineSVGdata');
    if (data) {
      insert();
      return true;
    }
  }
  try {
    request = new XMLHttpRequest();
    request.open('GET', file, true);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        data = request.responseText;
        insert();
        if (isLocalStorage) {
          localStorage.setItem('inlineSVGdata', data);
          localStorage.setItem('inlineSVGrev', revision);
        }
      }
    }
    request.send();
  } catch (e) {}
}(window, document));

    </script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="http://alenn.picom.su/bitrix/cache/css/s1/alenn/kernel_main/kernel_main.css?153562098626563">
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <header class="page-header">
          <div class="container page-header__container">
            <div class="page-header__row">
              <div class="logo"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей" width="160" height="50"></a></div>
            </div>
            <div class="control-panel">
              <div class="page-header__contacts">
                <form class="page-header__search">
                  <input class="search-input" type="text" placeholder="Введите запрос">
                  <button class="search-button"></button>
                </form>
                <p class="page-header__phone"><a class="page-header__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p>
                <div class="social-block"><a class="social-link social-link--vk" href="#">
                    <svg class="social__icon" width="20" height="12">
                      <use xlink:href="#icon-vk"></use>
                    </svg></a><a class="social-link social-link--facebook" href="#">
                    <svg class="social__icon" width="8" height="16">
                      <use xlink:href="#icon-fb"></use>
                    </svg></a></div>
                <div class="hamburger"><span class="visually-hidden">Закрыть меню</span><span class="hamburger__decoration"></span></div>
              </div>
              <div class="page-header__menu no-js">
                <nav class="main-navigation">
                  <ul class="main-navigation__list">
                    <li class="main-navigation__item"><a class="main-navigation__link" href="directions.html">Наши направления</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="teachers.html">Преподователи</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="events.html">Мероприятия</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="news.html">Новости</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="about.html">О нас</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="contacts.html">Контакты</a></li>
                  </ul>
                  <div class="user-block">
                    <p class="mobile-phone"><a class="page-header__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p><a class="user-block__link button button--border button--open-lk" href="#">Войти<span class="button__decoration"></span></a>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </header>
        <h1 class="visually-hidden">Главная страница 7 пядей</h1>
        <div class="breadcrumbs">
          <div class="container">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная</a>
                <svg class="breadcrumbs__icon" width="9" height="7">
                  <use xlink:href="#icon-arrow--short"></use>
                </svg>
              </li>
              <li class="breadcrumbs__item"><span class="breadcrumbs__link">Регистрация на курсы</span></li>
            </ul>
          </div>
        </div>
        <div class="registration registration--cource">
          <div class="registration__content">
            <h1 class="registration__header">Регистрация на курсы</h1>
            <div class="registration__page registration__page--active">
              <p class="registration__description">Заполните данные и мы свяжемся с вами в ближайшее время.</p>
              <form class="registration__form" action="json/success.json">
                <fieldset class="registration__fieldset">
                  <p class="registration__legend">Заполните форму</p>
                  <div class="registration__input-block">
                    <label class="registration__label" for="name">Фамилия, имя ребенка</label>
                    <input class="registration__input" id="name" type="text" name="name" data-field="1" required>
                  </div>
                  <div class="registration__input-block registration__input-block--grade">
                    <label class="registration__label" for="grade">Класс</label>
                    <select class="registration__select registration__select--grade" id="grade" name="grade" data-field="2">
                      <option class="registration__option" value="3">3</option>
                      <option class="registration__option" value="4">4</option>
                      <option class="registration__option" value="5">5</option>
                    </select>
                  </div>
                  <div class="registration__input-block">
                    <label class="registration__label" for="school">Школа</label>
                    <input class="registration__input" id="school" type="text" name="school" data-field="3" required>
                  </div>
                  <div class="registration__input-block registration__input-block--pair">
                    <label class="registration__label" for="pair">Смена, в которую учится ребенок</label>
                    <select class="registration__select registration__select--grade" id="pair" name="pair" data-field="4">
                      <option class="registration__option" value="1">Первая</option>
                      <option class="registration__option" value="2">Вторая</option>
                    </select>
                  </div>
                  <div class="registration__input-block">
                    <label class="registration__label" for="course">Курс (!!! Обратите внимание для какого возраста он предназначен)</label>
                    <div class="registration__input-field">
                      <input class="registration__input registration__input--checkbox" type="checkbox" id="checkbox-1">
                      <label class="registration__label registration__label--checkbox" for="checkbox-1">Олимпиадная информатика (с 6 по 11 класс)</label>
                    </div>
                    <div class="registration__input-field">
                      <input class="registration__input registration__input--checkbox" type="checkbox" id="checkbox-2">
                      <label class="registration__label registration__label--checkbox" for="checkbox-2" required>Олимпиадная информатика, начинающие (6 - 9 класс)</label>
                    </div>
                  </div>
                  <div class="registration__input-block">
                    <label class="registration__label" for="mobile-child">Сотовый телефон ребенка</label>
                    <input class="registration__input registration__input--phone js-phone" id="mobile-child" type="text" name="mobile-child" data-field="5">
                  </div>
                  <div class="registration__input-block">
                    <label class="registration__label" for="contact-name">ФИО одного из родителей </label>
                    <input class="registration__input" id="contact-name" type="text" name="contact-name" data-field="6" required>
                  </div>
                  <div class="registration__input-block">
                    <label class="registration__label" for="contact-name-mobile">Сотовый телефон</label>
                    <input class="registration__input registration__input--phone js-phone" id="contact-name-mobile" type="text" name="contact-name-mobile" data-field="7">
                  </div>
                  <div class="registration__input-block">
                    <label class="registration__label" for="contact-email">Электронная почта</label>
                    <input class="registration__input" id="contact-email" type="email" name="contact-email" data-field="8" required>
                  </div>
                  <div class="registration__input-block">
                    <label class="registration__label" for="pair">Откуда Вы узнали про Центр "СЕМЬ ПЯДЕЙ"?</label>
                    <select class="registration__select registration__select--grade" id="pair" name="pair" data-field="9">
                      <option class="registration__option" value="1">Ребенок ходил в прошлом году</option>
                      <option class="registration__option" value="2">Ребенок участвовал в Сборах "Головастик"</option>
                    </select>
                  </div>
                </fieldset>
              </form>
              <div class="registration__controls button__wrapper button__wrapper--center">
                <button class="registration__control-prev button button--border">Назад<span class="button__decoration"></span></button>
                <button class="registration__control-submit button">Отправить<span class="button__decoration"></span></button>
              </div>
              <div class="agreement">
                <input class="agreement__input" type="checkbox" id="agreement">
                <label class="agreement__label" for="agreement">Я согласен с условиями <a class="agreement__link" href="#" target="_blank">пользовательского соглашения</a></label>
              </div>
              <p class="registration__hint">После отправки формы регистрации, на указанный электронный адрес придёт письмо с подтверждением регистрации</p>
            </div>
          </div>
        </div>
        <div class="popup__overlay">
          <div class="popup popup--registration-success">
            <p class="popup__header">Спасибо!</p>
            <p class="popup__text">Мы перезвоним вам в течении рабочего дня.</p>
            <button class="popup__close"><span class="visually-hidden">Закрыть окно</span></button>
          </div>
        </div>
        <script src="js/main.js"></script>
      </div>
      <footer class="page-footer">
        <div class="container">
          <section class="footer-subscribe">
            <h2 class="footer-subscribe__header">Записаться на курсы</h2>
            <form class="footer-subscribe__form">
              <input class="footer-subscribe__input" type="email" placeholder="Введите ваш e-mail">
              <button class="footer-subscribe__submit button button--big160">Записаться<span class="button__decoration"></span></button>
            </form>
          </section>
          <div class="main-navigation main-navigation--footer">
            <ul class="main-navigation__list">
              <li class="main-navigation__item"><a class="main-navigation__link" href="directions.html">Наши направления</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="teachers.html">Преподователи</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="events.html">Мероприятия</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="news.html">Новости</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="about.html">О нас</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="contacts.html">Контакты</a></li>
            </ul>
          </div>
          <div class="page-footer__row">
            <div class="logo logo--footer"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей"></a></div>
            <div class="social social--footer">
              <ul class="social__list">
                <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Вконтакте</span>
                    <svg class="social__icon" width="20" height="12">
                      <use xlink:href="#icon-vk"></use>
                    </svg></a></li>
                <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Facebook</span>
                    <svg class="social__icon" width="8" height="16">
                      <use xlink:href="#icon-fb"></use>
                    </svg></a></li>
              </ul>
            </div>
            <div class="copyright">
              <p class="copyright__text">© 7 пядей.</p>
              <p class="copyright__text">Олимпиадная математика в Ижевске</p>
            </div>
            <div class="creator">Сделано в <a class="creator__link" href="http://picom.ru" target="_blank">Picom</a></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="http://alenn.picom.su/bitrix/cache/js/s1/alenn/kernel_main/kernel_main.js?1535621055298829"></script>
    <script src="js/main.js"></script>
  </body>
</html>
