public/schedule.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="preload" href="css/styles.css" as="style" crossorigin>
    <link rel="preload" href="fonts/fira-sans-400.woff2" as="font" crossorigin>
    <link rel="preload" href="fonts/fira-sans-500.woff2" as="font" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>7 пядей</title>
    <script>// (function(){
//   function addFont() {
//     let style = document.createElement('style');
//     style.rel = 'stylesheet';
//     document.head.appendChild(style);
//     style.textContent = localStorage.fonts;
//   }

//   try {
//     if (localStorage.fonts && false) {
//       // The font is in localStorage, we can load it directly
//       addFont();
//     } else {
//       // We have to first load the font file asynchronously
//       let request = new XMLHttpRequest();
//       request.open('GET', 'fonts/fonts.css', true);

//       request.onload = function() {
//         if (request.status >= 200 && request.status < 400) {
//           // We save the file in localStorage
//           localStorage.fonts = request.responseText;

//           // ... and load the font
//           addFont();
//         }
//       }

//       request.send();
//     }
//   } catch(ex) {
//   // maybe load the font synchronously for woff-capable browsers
//   // to avoid blinking on every request when localStorage is not available
//   }
// }());


// загрузка svg спрайта и сохранение в local.storage
(function(window, document) {

  'use strict';

  var file = 'svg/sprite.svg', // путь к файлу спрайта на сервере
      revision = 1;            // версия спрайта
  if (!document.createElementNS || !document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) return true;
  var isLocalStorage = 'localStorage' in window && window['localStorage'] !== null,
    request,
    data,
    insertIT = function() {
      document.body.insertAdjacentHTML('afterbegin', data);
    },
    insert = function() {
      if (document.body) insertIT();
      else document.addEventListener('DOMContentLoaded', insertIT);
    };
  if (isLocalStorage && localStorage.getItem('inlineSVGrev') == revision-1) {
    data = localStorage.getItem('inlineSVGdata');
    if (data) {
      insert();
      return true;
    }
  }
  try {
    request = new XMLHttpRequest();
    request.open('GET', file, true);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        data = request.responseText;
        insert();
        if (isLocalStorage) {
          localStorage.setItem('inlineSVGdata', data);
          localStorage.setItem('inlineSVGrev', revision);
        }
      }
    }
    request.send();
  } catch (e) {}
}(window, document));

    </script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="http://alenn.picom.su/bitrix/cache/css/s1/alenn/kernel_main/kernel_main.css?153562098626563">
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <header class="page-header">
          <div class="container page-header__container">
            <div class="page-header__row">
              <div class="logo"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей" width="160" height="50"></a></div>
            </div>
            <div class="control-panel">
              <div class="page-header__contacts">
                <form class="page-header__search">
                  <input class="search-input" type="text" placeholder="Введите запрос">
                  <button class="search-button"></button>
                </form>
                <p class="page-header__phone"><a class="page-header__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p>
                <div class="social-block"><a class="social-link social-link--vk" href="#">
                    <svg class="social__icon" width="20" height="12">
                      <use xlink:href="#icon-vk"></use>
                    </svg></a><a class="social-link social-link--facebook" href="#">
                    <svg class="social__icon" width="8" height="16">
                      <use xlink:href="#icon-fb"></use>
                    </svg></a></div>
                <div class="hamburger"><span class="visually-hidden">Закрыть меню</span><span class="hamburger__decoration"></span></div>
              </div>
              <div class="page-header__menu no-js">
                <nav class="main-navigation">
                  <ul class="main-navigation__list">
                    <li class="main-navigation__item"><a class="main-navigation__link" href="directions.html">Наши направления</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="teachers.html">Преподователи</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="events.html">Мероприятия</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="news.html">Новости</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="about.html">О нас</a></li>
                    <li class="main-navigation__item"><a class="main-navigation__link" href="contacts.html">Контакты</a></li>
                  </ul>
                  <div class="user-block">
                    <p class="mobile-phone"><a class="page-header__phone-link" href="tel:+78225124242">+7 (822) 512-4242</a></p><a class="user-block__link button button--border button--open-lk" href="#">Войти<span class="button__decoration"></span></a>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </header>
        <h1 class="visually-hidden">Главная страница 7 пядей</h1>
        <div class="container">
          <div class="timetable">
            <ul class="timetable__list">
              <li class="timetable__item timetable-item">
                <div class="timetable-item__info">
                  <p class="timetable-item__day">Понедельник</p>
                  <time class="timetable-item__date" datetime="2018-04-12">12 апреля 2018</time>
                </div>
                <div class="timetable__content">
                  <div class="timetable__row">
                    <div class="timetable__left">
                      <time class="timetable-item__time">c 09: 30 до 11: 15</time>
                    </div>
                    <div class="timetable__right">
                      <ul class="timetable__subject subject__list">
                        <li class="subject__item timetable-item__name"> Математика</li>
                      </ul>
                    </div>
                  </div>
                  <div class="timetable__row">
                    <div class="timetable__left">
                      <time class="timetable-item__time">c 09: 30 до 11: 15</time>
                    </div>
                    <div class="timetable__right">
                      <ul class="timetable__subject subject__list">
                        <li class="subject__item timetable-item__name"> Математика</li>
                        <li class="subject__item timetable-item__name"> Математика</li>
                        <li class="subject__item timetable-item__name"> Математика</li>
                        <li class="subject__item timetable-item__name"> Математика</li>
                        <li class="subject__item timetable-item__name"> Математика</li>
                      </ul>
                    </div>
                  </div>
                  <div class="timetable__row">
                    <div class="timetable__left">
                      <time class="timetable-item__time">c 09: 30 до 11: 15</time>
                    </div>
                    <div class="timetable__right">
                      <ul class="timetable__subject subject__list">
                        <li class="subject__item timetable-item__name"> Математика</li>
                      </ul>
                    </div>
                  </div>
                  <div class="timetable__row">
                    <div class="timetable__left">
                      <time class="timetable-item__time">c 09: 30 до 11: 15</time>
                    </div>
                    <div class="timetable__right">
                      <ul class="timetable__subject subject__list">
                        <li class="subject__item timetable-item__name"> Математика</li>
                        <li class="subject__item timetable-item__name"> Математика</li>
                        <li class="subject__item timetable-item__name"> Математика</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="timetable__item timetable-item">
                <div class="timetable-item__info">
                  <p class="timetable-item__day">Понедельник</p>
                  <time class="timetable-item__date" datetime="2018-04-12">12 апреля 2018</time>
                </div>
                <div class="timetable__content">
                  <div class="timetable__row">
                    <div class="timetable__left">
                      <time class="timetable-item__time">c 09: 30 до 11: 15</time>
                    </div>
                    <div class="timetable__right">
                      <ul class="timetable__subject subject__list">
                        <li class="subject__item timetable-item__name"> Математика</li>
                      </ul>
                    </div>
                  </div>
                  <div class="timetable__row">
                    <div class="timetable__left">
                      <time class="timetable-item__time">c 09: 30 до 11: 15</time>
                    </div>
                    <div class="timetable__right">
                      <ul class="timetable__subject subject__list">
                        <li class="subject__item timetable-item__name"> Математика</li>
                        <li class="subject__item timetable-item__name"> Математика</li>
                        <li class="subject__item timetable-item__name"> Математика</li>
                        <li class="subject__item timetable-item__name"> Математика</li>
                        <li class="subject__item timetable-item__name"> Математика</li>
                      </ul>
                    </div>
                  </div>
                  <div class="timetable__row">
                    <div class="timetable__left">
                      <time class="timetable-item__time">c 09: 30 до 11: 15</time>
                    </div>
                    <div class="timetable__right">
                      <ul class="timetable__subject subject__list">
                        <li class="subject__item timetable-item__name"> Математика</li>
                      </ul>
                    </div>
                  </div>
                  <div class="timetable__row">
                    <div class="timetable__left">
                      <time class="timetable-item__time">c 09: 30 до 11: 15</time>
                    </div>
                    <div class="timetable__right">
                      <ul class="timetable__subject subject__list">
                        <li class="subject__item timetable-item__name"> Математика</li>
                        <li class="subject__item timetable-item__name"> Математика</li>
                        <li class="subject__item timetable-item__name"> Математика</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="slider__controls slider__controls--timetable">
              <button class="slider__control slider__control--prev"><span class="visually-hidden">Предыдущий слайд</span>
                <svg class="slider__control-icon" width="11" height="16">
                  <use xlink:href="#icon-slider-arrow"></use>
                </svg>
              </button>
              <button class="slider__control"><span class="visually-hidden">Следующий слайд</span>
                <svg class="slider__control-icon" width="11" height="16">
                  <use xlink:href="#icon-slider-arrow">     </use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <footer class="page-footer">
        <div class="container">
          <section class="footer-subscribe">
            <h2 class="footer-subscribe__header">Записаться на курсы</h2>
            <form class="footer-subscribe__form">
              <input class="footer-subscribe__input" type="email" placeholder="Введите ваш e-mail">
              <button class="footer-subscribe__submit button button--big160">Записаться<span class="button__decoration"></span></button>
            </form>
          </section>
          <div class="main-navigation main-navigation--footer">
            <ul class="main-navigation__list">
              <li class="main-navigation__item"><a class="main-navigation__link" href="directions.html">Наши направления</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="teachers.html">Преподователи</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="events.html">Мероприятия</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="news.html">Новости</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="about.html">О нас</a></li>
              <li class="main-navigation__item"><a class="main-navigation__link" href="contacts.html">Контакты</a></li>
            </ul>
          </div>
          <div class="page-footer__row">
            <div class="logo logo--footer"><a class="logo__link" href="index.html"><img class="logo__img" src="./img/logo.svg" alt="Логотип 7 пядей"></a></div>
            <div class="social social--footer">
              <ul class="social__list">
                <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Вконтакте</span>
                    <svg class="social__icon" width="20" height="12">
                      <use xlink:href="#icon-vk"></use>
                    </svg></a></li>
                <li class="social__item"><a class="social__link" href="#"><span class="social__name visually-hidden">Facebook</span>
                    <svg class="social__icon" width="8" height="16">
                      <use xlink:href="#icon-fb"></use>
                    </svg></a></li>
              </ul>
            </div>
            <div class="copyright">
              <p class="copyright__text">© 7 пядей.</p>
              <p class="copyright__text">Олимпиадная математика в Ижевске</p>
            </div>
            <div class="creator">Сделано в <a class="creator__link" href="http://picom.ru" target="_blank">Picom</a></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="http://alenn.picom.su/bitrix/cache/js/s1/alenn/kernel_main/kernel_main.js?1535621055298829"></script>
    <script src="js/main.js"></script>
  </body>
</html>

frontend/pug/schedule.pug
extends ./layout/index.pug

block content
  h1.visually-hidden Главная страница 7 пядей
  .container


    .timetable
      ul.timetable__list
        li.timetable__item.timetable-item
          .timetable-item__info
            p.timetable-item__day Понедельник
            time.timetable-item__date(datetime="2018-04-12") 12 апреля 2018
          .timetable__content
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
      
        li.timetable__item.timetable-item
          .timetable-item__info
            p.timetable-item__day Понедельник
            time.timetable-item__date(datetime="2018-04-12") 12 апреля 2018
          .timetable__content
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
      
      .slider__controls.slider__controls--timetable
        button.slider__control.slider__control--prev
          span.visually-hidden Предыдущий слайд
          svg.slider__control-icon(width="11" height="16")
            use(xlink:href="#icon-slider-arrow")
        button.slider__control
          span.visually-hidden Следующий слайд
          svg.slider__control-icon(width="11" height="16")
            use(xlink:href="#icon-slider-arrow")      
